[2018-01-12 10:16] forki commented on #2978
I think you should revert that line in deps file that added explicit netcore.app and instead remove all the PackageReference tags from the fsproj and put them into references file

[2018-01-12 10:19] pmiossec opened #2982 "Problem of binding redirect on a .net framework 4.6.2 library"
Disclamer: Due to fucking security policies, I can't sign in on github from a company computer and provide real data (this issue is open from another computer). So I can't provide the real material that will make the case easier to reproduce :( I'm so sorry.

### Description

I don't know if that's a behavior expected or a bug of paket, so it's more asking help to diagnose the problem (I already s

[2018-01-12 10:43] forki commented on #2982
can you remove the System.Net.Http.dll reference manually and just use the package?

[2018-01-12 11:10] AnthonyLloyd commented on #2978
Ah ok, what a noob. Did that and now I'm back to the original exceptions:

https://ci.appveyor.com/project/haf/expecto/build/4.0.517/job/o79pnyqeyundd28s
https://travis-ci.org/haf/expecto/jobs/328064303

[2018-01-12 11:14] pshrosbree commented on #2980
If this isn't a common scenario then, and given I have a way of achieving the same functionality outside paket, it would be better not to clutter the code base with this functionality.

Thanks for the feedback.

[2018-01-12 11:14] #2980 closed

[2018-01-12 11:17] pshrosbree commented on #2977
@forki should the conversion for .sfproj files not also add an import for `Paket.Restore.targets`?

[2018-01-12 11:28] pshrosbree commented on #2975
Just closing the loop on this so if others are as dumb as I am they may have an easier time of it.

I encountered the problem again, even in PowerShell, but found I had install paket globally with `choco install paket`. Running `choco upgrade paket` upgraded to 5.130.3 and this seems to have fixed the problem in all shells.

[2018-01-12 11:29] forki commented on #2977
I assume it should yes. Are you using latest paket?

[2018-01-12 11:29] mavnn commented on #2967
This appears to be an issue with FastExpressionCompiler - if you limit the version of FastExpressionCompiler to the minimum that Marten requires (as nuget would by default) F# plays nicely with it.

I don't have time to dig too deep right now, but I think the issue here can be closed and @halcwb and I will need to take this to FastExpressionCompiler.

[2018-01-12 11:30] forki commented on #2978
ok it looks like a an issue with netcore1.1 - it can't build that on windows properly. I'm trying something

[2018-01-12 11:32] pmiossec commented on #2982
Not really.

There is 3 possibilities.

1. I remove the references manually. Their is no more references because paket doesn't add the ones to the nuget package. Normal.

2. I remove it and do a `paket install`. The result is partly better but that doesn't solve the problem.
* The csproj of the exe is well updated by paket (nuget ref added) and the binding is OK.
* The csproj of the test project i

[2018-01-12 11:57] pshrosbree commented on #2977
Well, I am in my .paket, but perhaps somehow an older one was referenced. I'll try again. Putting together a repo for #2976 first.

[2018-01-12 12:07] forki commented on #2982
System.Http issues are very common. But I fixed at least all the know issues. So I assume you would need to come up with some kind of repro, because I have no idea what's going wrong

[2018-01-12 12:23] pshrosbree commented on #2976
@forki I have attached a repo that output the following from `msbuild /t:Restore`:

[code]

Note, that this contains a `.sfproj`, which I edited to include `Paket.Restore.targets`, but you still need to download packages before you execute restore, otherwise the restore on the `.sfproj` fails.

[analytics-eventhubreader.zip](https://github.com/fsprojects/Paket/files/1625958/analytics-eventhubreade

[2018-01-12 12:35] pmiossec commented on #2982
Ok. I will try to build one...

[2018-01-12 12:44] pshrosbree commented on #2977
@forki This is what paket 5.130.3 does to the .sfproj:

[code]
It does not add an import for `Paket.Restore.targets`.

Also, note that for `.sfproj` files the `Microsoft.VisualStudio.Azure.Fabric.MSBuild` will always need the version in the path, so maybe that can be included in the `convert-from-nuget` algorithm.

[2018-01-12 12:46] forki commented on #2977
yes I it's not a dotnet (new project style) project so that is correct

[2018-01-12 12:48] pshrosbree commented on #2977
OK, good.

Is there a way to get `msbuild /t:Restore` to succeeded from a clean folder?

[2018-01-12 12:52] forki commented on #2976
this thing is HUUUUGE - It will take a long time for me to analyze that!?
Can you please try to find a minimal repro?

[2018-01-12 13:23] pshrosbree commented on #2976
Fair enough. I'll trim it, but it may have to wait until end of day.

[2018-01-12 14:26] MangelMaxime opened #2983 "dotnet restore is broken by Paket 5.130.4"
### Description

Seems like Paket version `5.130.4` break dotnet restore.

Error:

I am saying that because I didn't touch the project since yesterday and it was working fine. And latest release of paket mention:

Also, as a workaround I downloaded paket `5.130.3` exe and it works with it.

[2018-01-12 14:38] forki commented on #2983
yes I'm on it

[2018-01-12 14:38] forki commented on #2983
can you please try .6

[2018-01-12 14:40] MangelMaxime commented on #2983
.6 works for me :)

[2018-01-12 14:40] #2983 closed

[2018-01-12 15:31] curdincaspar commented on #2979
I found the problem. The following package had a lib folder named "netcore50".
https://www.nuget.org/packages/TeamCity.ServiceMessages/3.0.7

Not sure what this is or if it's still needed. Feel free to close the issue if this is not relevant anymore.
The newer packages don't have this target anymore so updating resolved the issue for me.

[2018-01-12 15:38] #2979 closed

[2018-01-12 15:38] matthid commented on #2973
We already do that, what we don't do (yet) is lazy loading the list of versions.

We probably would accept an implementation. But be warned: Implementing this is probably a lot harder than you might think - we have various places in the resolver where we assume we have the whole list of versions and we filter them on several occasions - this means lazy loading needs to take that into account.

Ano

[2018-01-12 17:43] pmiossec commented on #2982
@forki I tried to reproduce the bug but didn't succeed :(

https://github.com/pmiossec/paket_repro

When I add the nuget package `PaketReproPackage` paket didn't add the binding redirect on `System.Net.Http.dll` like it did in our repositories...
It still use the framework version of the dll

[2018-01-13 06:48] pshrosbree commented on #2976
@forki I have attached a smaller repro

[analytics-eventhubreader.zip](https://github.com/fsprojects/Paket/files/1628131/analytics-eventhubreader.zip)

[2018-01-13 19:32] EelcoMulder commented on #2964
I have the same issue, only not local but building on VSTS, so I can provide a build log if you want. It does download some runtime files but fails on the same files mentioned above but for win-x64.

`2018-01-12T09:05:17.5158152Z d:\a\1\s\Wotzj.Api\Wotzj.Api.fsproj : error NU1100: Unable to resolve 'runtime.win-x64.Microsoft.NETCore.App (>= 2.0.0)' for '.NETCoreApp,Version=v2.0/win-x64'.
2018-01-1

[2018-01-13 22:59] coolya commented on #2964
I have create a repo to reproduce. I also added a workaround to the readme file:

https://github.com/coolya/paket-problem

[2018-01-14 17:07] coolya commented on #2964
I investigated a bit more and it seems that it works with sdk 2.0.0 but fails with the latest SDK.

[2018-01-14 17:24] forki commented on #2964
/cc @enricosada @cartermp

Am 14.01.2018 18:07 schrieb "Kolja Dummann" <notifications@github.com>:

[2018-01-14 17:57] cartermp commented on #2964
Do you see this same issue with no paket as well?

[2018-01-14 18:02] coolya commented on #2964
Nope, then it works fine. It also works once a projects that doesn't use paket has done a `dotnet restore` there must be some machine wide cache or something where it looks up these runtime dependencies.

[2018-01-15 16:28] pmiossec opened #2984 "convert-from-nuget fails to convert .NetStandard2 project (missing `System` dependency)"
### Description

After the conversion, the project no more build with error:

     error CS0246: The type or namespace name 'System' could not be found (are you missing a using directive or an assembly reference?)

We could see that VisualStudio fails to find namespace `System`.

![image](https://user-images.githubusercontent.com/460196/34952259-6e0b68c6-fa19-11e7-8e41-37bcf5d92fd0.png)

Also, we

[2018-01-15 20:02] eiriktsarpalis opened #2985 "Adding FSharp.Compiler.Tools via paket not working for new project structure"
### Description

It seems that adding `FSharp.Compiler.Tools` as a reference via paket does not work for projects using the new format.

### Repro steps

The project configuration found in [this commit](https://github.com/eiriktsarpalis/Repro/tree/f341401f096db4e76ebc5d2b5e80318ef4125855) reproduces the issue (using paket version 5.130.6). After running a `dotnet restore`, Visual Studio (version 1

[2018-01-15 20:39] eiriktsarpalis commented on #2985
I think that might actually be an issue of the particular package. Closing this.

[2018-01-15 20:39] #2985 closed

[2018-01-15 22:44] eiriktsarpalis commented on #2985
Related issue: https://github.com/fsharp/fsharp/issues/807

[2018-01-15 23:46] yaakov-h opened #2986 "net47 moniker skips netstandard2.0 dependencies"
### Description

When depending on `Microsoft.Extensions.Configuration` for `net47`, Paket skips transitive dependency `Microsoft.Extensions.Configuration.Abstractions`.

### Repro steps

Please provide the steps required to reproduce the problem

1. Create `paket.dependencies`:

[code]

2. Run `paket.exe update`

### Expected behavior

`paket.lock` indicates:

* a dependency on `Microsoft.Extensi

[2018-01-16 03:45] yaakov-h opened #2987 ""paket restore" fails if a dotnet project is open in Visual Studio"
### Description

`paket.exe restore` fails if a .NET Core / .NET Standard project is open in Visual Studio

### Repro steps

1. Create a .NET Core or .NET Standard project.
2. Manually import `Paket.Restore.targets`
3. Set up `paket.dependencies` and `paket.lock`
4. Open the project in Visual Studio
5. From a command prompt, run `paket.exe restore`

### Expected behavior

Package restore process s

[2018-01-16 05:42] forki commented on #2985
The compiler is already part of the new sdk? Why do you want it additionally?

[2018-01-16 06:43] forki commented on #2987
That file should not be locked by vs. /cc @cartermp

Am 16.01.2018 04:45 schrieb "Yaakov" <notifications@github.com>:

[2018-01-16 07:03] forki commented on #2986
@matthid isn't that correct behavior? I thought net471 is the first that is compatible with netstandard2.0

[2018-01-16 07:05] forki commented on #2984
can you please upload the project that you use after step 1.

[2018-01-16 07:05] yaakov-h commented on #2986
Officially `net461` and higher are compatible with `netstandard2.0`.

`net471` is the first .NET Framework that is compatible with `netstandard2.0` _without any glue / type-forwarder assemblies_.

[2018-01-16 08:01] altxt commented on #2981
Bump
Any thoughts on this?

[2018-01-16 08:03] forki commented on #2981
did you look into paket.local? https://fsprojects.github.io/Paket/local-file.html#Source-override

[2018-01-16 08:23] altxt commented on #2981
Yes, I looked into that
Local overrides can be used to solve some of the problems, but there are limits:
- affect only restore command, not install or update
- are specified per package, not per feed

I was thinking in the direction of source aliases that are configured in a separate file and referenced by name in paket.dependencies and paket.local

[2018-01-16 10:50] pmiossec commented on #2984
@forki In the zip file, you have 2 project.
An empty one (just created with VS2017) and one with already an added dependency.
[ConvertFromNugetProblem.zip](https://github.com/fsprojects/Paket/files/1634737/ConvertFromNugetProblem.zip)

[2018-01-16 11:08] forki commented on #2984
can't repro. I extracted and ran `paket convert-from-nuget` and then build works fine:

![image](https://user-images.githubusercontent.com/57396/34985905-f01725f2-fab5-11e7-8383-948eed5c8dab.png)

[2018-01-16 11:26] pmiossec commented on #2984
Ok I understood why...

It failed in VS.
So, I run the same command than you and got (error not displayed in VisualStudio :( ):

[code]

It didn't find the `paket.exe` file that is not in the `.paket` folder (but in the PATH).
Once I put the `paket.exe` file in the folder, that build well and in VS too...

Is it required to have `paket.exe` in the folder `.paket` of the project? We didn't do that

[2018-01-16 11:29] forki commented on #2984
the problem is that we hook the paket.Restore.targets into the csproj. and that one is not finding it. I generally recomment to commit the paket.exe in magic mode (see https://fsprojects.github.io/Paket/bootstrapper.html#Magic-mode)

[2018-01-16 11:38] matthid commented on #2986
duplicate of https://github.com/fsprojects/Paket/issues/2779
duplicate of https://github.com/fsprojects/Paket/issues/2764
duplicate of https://github.com/fsprojects/Paket/issues/2718
duplicate of https://github.com/fsprojects/Paket/issues/2705
duplicate of https://github.com/fsprojects/Paket/pull/2391

Yes that is what I recall as well.

[2018-01-16 11:45] eiriktsarpalis commented on #2985
Needed to pin to an older build of 4.1 due to the tuple regression.
On Tue, 16 Jan 2018 at 00:42, Steffen Forkmann <notifications@github.com>
wrote:

[2018-01-16 11:52] yaakov-h commented on #2986
I'm confused about that.

If I'm skim-reading it correctly, the issue is handling the facade/glue/forwarder assemblies.

Why does Paket need to deal with that? Visual Studio / MSBuild automatically handles that, even for "normal" assembly references.

[2018-01-16 12:26] matthid commented on #2986
@yaakov-h Yes it is easy to think that. I asked the same in #2391 to @0x53A and got https://github.com/fsprojects/Paket/pull/2391#issuecomment-323534105
Which clearly shows that there are situations where people have issues if we allow the given scenario.

[2018-01-16 12:29] pmiossec commented on #2984
OK. Thanks a lot.

Perhaps that the command `convert-from-nuget` should display a message to help the user on that when converting a .NetStandard project.
Do you want me to open an issue for that?

[2018-01-16 12:29] #2984 closed

[2018-01-16 19:15] Kazark opened #2988 ""Could not parse version range" where version range is generated by Paket itself"
### Description

We have an internal package, call it `Foo`, whose latest version is `2.0.3.3`. Its latest prerelease version is `2.0.3-prerelease3`, and that general pattern is followed for all prereleases.

Given a `paket.dependencies` that contains the line

    nuget Foo prerelease

and a `paket.lock` containing a prerelease version of it; and at least one other, say, FAKE:

    nuget FAKE

wh

[2018-01-17 07:32] forki commented on #2988
Thanks for reporting. should be fixed

[2018-01-17 07:32] #2988 closed

[2018-01-17 11:20] yaakov-h commented on #2986
That is true, but surely that edge case logic only applies to .NET Standard 1.5 and 1.6?

.NET Standard 1.4 and .NET Standard 2.0 always supported `net461` as a minimum target. It's only .NET Standard 1.5 that required `net462` and .NET Standard 1.6 that required `net47`.

[2018-01-17 11:45] matthid commented on #2986
If you agree that .NET Standard 2.0 is a super-set of .NET Standard 1.5 and 1.6 then your statement doesn't even make any sense to me. How can we even say that `net461` supports/implements `netstandard2.0` but not `netstandard1.6`. We don't support such crazy resolutions.

[2018-01-17 11:51] matthid commented on #2986
Honestly, we have no idea what we are doing - whatever we do it seems to be a bad idea. Feel free to open PRs and improve/discuss the situation - it is possible that we didn't get the details correctly yet...
But this whole situation feels like everything is just a big hack.

[2018-01-17 11:56] yaakov-h commented on #2986
Indeed 😞

Perhaps at the very least, we could introduce a warning or error when a package only supports a newer target framework that what the user has specified?

So in this case, since I'm requesting a .NET Standard 2.0 package but Paket thinks that this requires `net471` or higher, I should get an error message that says I need to use an older package version, or upgrade my project to a newer t

[2018-01-17 12:23] matthid commented on #2986
I think we previously added a warning and people complained because a lot of meta packages are out there which do not support an actual framework. And we cannot really tell the difference. Also there are packages which are by design empty for some frameworks as the functionality is already part of the framework...

NuGet ecosystem is a mess. About your resolving suggestion: We don;t have the meta-

[2018-01-17 18:27] Kazark commented on #2988
@forki thanks so much. It is fixed.

[2018-01-18 01:08] granttrevor commented on #2964
Just struck and thankfully found this Issue log using paket with in a csproj.

dotnet restore was throwing errors like:

` error NU1100: Unable to resolve 'runtime.linux-x64.Microsoft.NETCore.App (>= 2.0.0)' for '.NETCoreApp,Version=v2.0/linux-x64'`

Removing the paket target, restoring and then adding the paket target back in has gotten past it for now.

[2018-01-18 06:52] shohre opened #2992 "Unnecessary target framework"
I have a solution for .net framework 4.6.1 and nuget.
All of the projects in the solution are on the same version of .net framework.
I convert-from-nuget and my project files (.csproj) become double the size because of all the unnecessary target frameworks added to them, for .netcore and .net standard.

I can always remove them manually but there are lots of projects and it will be too much work.

[2018-01-18 06:55] forki commented on #2992
Sure. See
https://fsprojects.github.io/Paket/dependencies-file.html#Framework-restrictions

Am 18.01.2018 07:52 schrieb "shohre" <notifications@github.com>:

[2018-01-18 08:11] forki commented on #2964
I added a workaround in the Paket.Restore.targets file until we have a proper solution. Please retry with that

[2018-01-18 08:23] yaakov-h commented on #2986
Hmmph.

With all that considered, the workaround in the OP might actually be the most sensible solution 😞

[2018-01-18 14:51] #2847 closed

[2018-01-18 14:51] #2848 closed

[2018-01-18 14:51] #2972 closed

[2018-01-18 16:19] forki commented on #2976
wow I have seriously no idea where nuget is drawing Microsoft.Data.Services.Client 5.8.2 from

[2018-01-18 16:23] forki commented on #2976
BUT: if you add Microsoft.Data.Services.Client to paket.references in EventHubReader.Factory and AppCenter.EventHubs it works as workaround

[2018-01-18 16:27] forki commented on #2976
I think this is actually a bug in dotnet cli - but need to investigate further

[2018-01-18 16:41] ivaylo5ev opened #3000 "paket update slow with empty `paket.references` files"
### Description

**This is a quite specific to my own use-case request that should be rather seen as a potential improvement.**

I have a C# project folder with a number of .csproj files inside. I am using paket to manage my dependencies for those projects -- I can have separate dependencies per project because I can have a ProjectName.csproj.paket.references file for each project. I also have a g

[2018-01-18 19:03] pshrosbree commented on #2976
Thanks @forki . I have been using that workaround. I'd be interested to know if you find anything.

[2018-01-19 06:55] devlead commented on #2672
Could run Linux / MacOS tests on Bitrise, they've got an OSS plan, find it more reliable & better performance than Travis and for Linux you can bring your own tailored container which also speeds up builds.

Scheduled integration tests could run on GitLabs /Bitbucket Pipelines which also lets you use your own containers.

[2018-01-19 08:30] forki commented on #3000
Can you please upload a zip with that repro? I don't think we have a way to
exclude projects, but maybe we can make it faster

Am 18.01.2018 17:43 schrieb "Ivaylo Slavov" <notifications@github.com>:

[2018-01-19 14:06] ivaylo5ev commented on #3000
I hope a [git repo](https://github.com/ivaylo5ev/paket-issue-3000) would do as well. I have made an example with the simplest setup I could think of which illustrates the problem. I have made 2 folders with nearly none and with a few empty paket.references files, thus illustrating the slowdown.

In this example, we have a minor slowdown for about 11 seconds for having 8 empty paket.references file

[2018-01-22 05:50] Lavinski opened #3003 "Project references are not converted to Nuget Dependencies"
### Description

Project `PackageB` with a dependency on the project `PackageA` where both projects have a `paket.template.` and the packages use [paket pack](https://fsprojects.github.io/Paket/paket-pack.html) with the `--include-referenced-projects` flag **should** have a Nuget dependency on `PackageA` but does not.

### Repro steps

Here is the raw paket command:

[code]

Here is a project whic

[2018-01-22 10:50] vasily-kirichenko opened #3004 "Binding redirect is not added for Microsoft.Extensions.Logging"
See https://github.com/akkadotnet/akka.net/issues/3288

A workaround:

1. Add the following to `paket.dependencies`
[code]
2. Add the following to `app.config`
[code]

[2018-01-22 10:56] Horusiath commented on #3004
I think, the issue here was that the parent package (DotNetty in this case) is targetting .NET Framework 4.5.2 while one of it's dependencies (here Microsoft.Extensions.Logging) has no net452 packages, only netstandard1.X. When trying to resolve dependencies it seems, that Paket looks only for those targeting exactly the same framework.

[2018-01-22 10:58] forki commented on #3004
did you try redirects: force?

[2018-01-22 11:00] enricosada opened #3005 "paket .net core fails to build git repo on unix/osx"
### Description

Paket .net core fails to build git repo on unix/osx. works on win

### Repro steps

a repo dependency like

[code]

### Expected behavior

Probably, the best is to run `build.sh`

### Actual behavior

paket run `build.cmd` and fails

### Known workarounds

None

### Additional

Fails on tests:

- #1353 should restore NuGet source from built git repo
- #1353 should build NuGet sour

[2018-01-22 11:04] vasily-kirichenko commented on #3004
@forki Just tried, has not helped.

[2018-01-22 11:32] forki commented on #3004
I think the problem is:

DotNetty.Common requires Microsoft.Extensions.Logging >= 1.1

==> paket draws Microsoft.Extensions.Logging 2.0 because there is nothing stopping it.

Microsoft.Extensions.Logging 2.0 has no libs for net462 ==> no references and not redirects will happen.

[2018-01-22 11:48] enricosada commented on #2672
@devlead thanks for feedback, i'll try check Bitrise too

Atm issue is mostly concurrency on build matrix jobs (travis is ok there).

As a note, integration test suite is > 20min and we need to double that time for the build matrix for .net and .net core

if ci doesnt allow concurrent job, is hard to scale, serially is > 1h and add up really fast queuing commits ( 8 commit before you => you need t

[2018-01-22 21:54] IlyaFinkelshteyn commented on #2672
Just to clarify, that we in AppVeyor are still [committed](https://github.com/fsprojects/Paket/issues/2672#issuecomment-325536386) to donate additional concurrent build job to **Paket**, we just need to know AppVeyor account name to make a change.

[2018-01-23 06:04] MohsenBzm opened #3006 "Docker and Paket do not integrate."
### Description

There are several projects in my solution (some production and some test ...)
and there is a docker image per each project.
Each .fsproj file in the solution contains the line:

    <Import Project="..\.paket\Paket.Restore.targets" />

But [docker's build context is limited by the project's folder][1]
and I'd rather not deal with that problem.
 So I can't access the root folder of

[2018-01-23 07:24] aminya commented on #2627
Install this it works:
https://support.microsoft.com/en-us/help/3000988/-the-profile-for-the-user-is-a-temporary-profile-error-when-you-instal

[2018-01-23 08:39] migajek opened #3007 "paket adds System.Drawing and several other depenendencies for no apparent reason"
### Description
paket 5.132.4

When updating the dependency to a set of specific packages (let's call it package X - it is a group of packages built from a single solution) in a solution, paket adds `System.Drawing`, `System.Numerics` and `System.IO.Compression` to a project dependencies **for every project in a solution** (including the projects which are **not** referencing any package of  *pack

[2018-01-23 10:01] mavnn opened #3008 "If paket detects out of date packages, it should list them"
### Description

There are situations where Paket will check for new versions of dependencies during `paket install` even though paket.dependencies and paket.lock are unchanged. A common example is when you have a dependency with only prerelease versions available (but not marked as prerelease) - paket will check every time to see if a release version has become available.

This is fine, but curre

[2018-01-23 10:39] enricosada commented on #3006
@MohsenBzm you are building inside a docker container? or just using output?

A way is to use docker multi stage builds from root.

build in one image, move generated published output to another image.
minimal size, final image doesnt have useless artifacts (or tests etc)

[code]

[2018-01-23 10:50] enricosada opened #3009 "mono paket fails sporadically with ssl exception during web requests"
### Description

With mono, sporadically (~ 4 %) of times, paket fails making a web request, with an ssl exception

### Repro steps

using mono (repro with 5.4) doing repeated `paket update`

### Expected behavior

paket works as expected, doing correct web requests

### Actual behavior

paket fails with exception doing a web request

[code]

real issue is

[code]

### Known workarounds

retry.

#

[2018-01-23 10:53] enricosada commented on #3009
while waiting for a mono fixed version may be good enough, is annoying in the integration test suite running on travis.

Paket should retry when that specific expection, so is more robust for users too.

[2018-01-23 13:41] enricosada commented on #2933
Closing

[2018-01-23 13:41] #2933 closed

[2018-01-23 13:43] enricosada commented on #2911
i can repro in FSAC

[2018-01-23 14:19] enricosada commented on #2904
@njlr As per prerequisited ( https://github.com/fsprojects/Paket#linux ), required mono is > 5.0

as a note, now the build is under CI with travis, testing ubuntu and mono 5.4

Closing, please reopen if doesnt build it supported mono/os version

[2018-01-23 14:19] #2904 closed

[2018-01-23 14:22] enricosada commented on #2895
@vasily-kirichenko ping, can be closed? was an issue with your local environment?

[2018-01-23 15:43] #2895 closed

[2018-01-23 16:23] enricosada commented on #2836
Closing.

[2018-01-23 16:23] #2836 closed

[2018-01-23 16:30] enricosada commented on #2801
@eiriktsarpalis added `LOCKEDVERSION` for groups with https://github.com/fsprojects/Paket/pull/2943

[2018-01-23 16:36] enricosada commented on #2792
The all frameworks is fixed

![image](https://user-images.githubusercontent.com/147243/35287975-e88241b0-0063-11e8-9b3d-4ad0d6eb4396.png)

but reference to `FSharp.Compiler.Tools` remains

[2018-01-23 16:42] #2758 closed

[2018-01-23 17:01] enricosada commented on #2728
Closing, dupe of https://github.com/fsprojects/Paket/issues/2674

[2018-01-23 17:01] #2728 closed

[2018-01-23 17:08] enricosada commented on #2660
Closing.

Work for .net core paket (and support in .net core sdk) is tracked by https://github.com/fsprojects/Paket/issues/2875

As a note, for dockerfile, you can use `fsharp/fsharp` image who contains both .net core and .net mono.
With that, you can use docker multi staged builds, so you use an image with .netcore+mono to build, and more published result in another (with just .net core)

[2018-01-23 17:08] #2660 closed

[2018-01-23 17:10] enricosada commented on #2636
Closing, in the build ci paket print also that information based on an env var.
End user using paket doesnt see it.

[2018-01-23 17:10] #2636 closed

[2018-01-23 17:31] enricosada commented on #2540
Closing, implemented in both ionide and as general solution in VS 2017 based on msbuild

[2018-01-23 17:31] #2540 closed

[2018-01-23 17:34] enricosada commented on #2518
Closing as fixed

[2018-01-23 17:34] #2518 closed

[2018-01-23 17:40] enricosada commented on #2497
related to #2919

[2018-01-23 17:48] enricosada commented on #2418
Closing.

Work for .net core sdk is tracked in https://github.com/fsprojects/Paket/issues/2875

[2018-01-23 17:48] #2418 closed

[2018-01-23 17:49] enricosada commented on #2875
By @0x53A in https://github.com/fsprojects/Paket/issues/2418#issue-235527842

MSBuild spec: https://github.com/Microsoft/msbuild/issues/1493
NuGet work item: https://github.com/NuGet/Home/issues/5220

There is nothing to do at the moment - but as soon as NuGet actually implements this stuff, we should also start so we don't hang behind.

From the empty checklists in both issues, I would expect thi

[2018-01-23 18:01] enricosada commented on #2393
@matthid @baronfel dunno the initial bug report, but the latest two

- `MonoBtlsException`  -> tracked by https://github.com/fsprojects/Paket/issues/3009 with more info and bugzilla
- `The object with ID 2 implements the IObjectReference...` fixed with a workaround with https://github.com/fsprojects/Paket/commit/d75bb3300369e9389d69ab61b96b952c7450aa32 (committ message contains the reference to nu

[2018-01-23 18:04] enricosada commented on #2382
@mkb137 work was merged with PR #2619 by @DmitryBatalov

Can this be closed?

[2018-01-23 18:09] enricosada commented on #2355
Yes, path fix for now.

Closing. bug is tracked upstream in https://github.com/Microsoft/msbuild/issues/1957

Workaround is to change slash, like in https://github.com/fsprojects/Paket/commit/36d573db862a5a6cdac716fefbb5764c799581c9

[2018-01-23 18:09] #2355 closed

[2018-01-23 18:20] enricosada commented on #2274
Appveyor now show in tab `test` the single test duration, so is easier to spot slow tests

[2018-01-23 18:23] enricosada commented on #2249
Closing.

.net core only paket is tracked in https://github.com/fsprojects/Paket/issues/2875 (with notes about .net sdk too)

[2018-01-23 18:23] #2249 closed

[2018-01-23 19:32] matthid commented on #2792
thanks a lot for taking care of this stuff!

[2018-01-24 03:26] TheAngryByrd commented on #3009
Your Mono's cert store might be out of date. To sync it with mozilla's root certs use the following command:

[code]

[2018-01-24 09:22] enricosada commented on #2208
Closing. `dotnet restore` works, that's to be used after `paket restore` (as a note `paket restore` is automatically called on `dotnet restore`).

[2018-01-24 09:22] #2208 closed

[2018-01-24 09:25] enricosada commented on #2195
Closing, question was answered by previous comment

[2018-01-24 09:25] #2195 closed

[2018-01-24 09:25] enricosada commented on #2193
Closing, fixed

[2018-01-24 09:25] #2193 closed

[2018-01-24 09:37] enricosada commented on #2124
Closing.

Now paket should build in macosx/unix. both configuration are under travis ci (dotnet core and normal .net) with whole test suite.

Please open an new issue if doesnt work in your os/environment

[2018-01-24 09:37] #2124 closed

[2018-01-24 09:41] enricosada opened #3010 "Log if expected directories (configured by env var) cannot be accessed"
### Description

Some path/dir are configured by env var.
If a path cannot be accessed (like non existing drive), paket crash, should instead log a message

### Repro steps

set `NuGetCachePath` env var to a non existing drive path.
paket fails

### Expected behavior

nicer error log

### Actual behavior

crash

### Known workarounds

unset that variable to use defaults

[2018-01-24 09:41] enricosada commented on #2116
Closing, was an environment issue.

added https://github.com/fsprojects/Paket/issues/3010 to track to add a log instead of just crash

[2018-01-24 09:41] #2116 closed

[2018-01-24 09:43] enricosada commented on #1884
Closing. dupe of https://github.com/fsprojects/Paket/issues/1780

[2018-01-24 09:43] #1884 closed

[2018-01-24 09:44] enricosada commented on #2114
Closing because original issue was fixed

About path length is tracked by https://github.com/fsprojects/Paket/issues/1780

[2018-01-24 09:44] #2114 closed

[2018-01-24 09:46] enricosada commented on #2077
Closing, was fixed by user (wrong feed address)

[2018-01-24 09:47] enricosada commented on #2076
Closing, dupe of https://github.com/fsprojects/Paket/issues/1780

[2018-01-24 09:47] #2076 closed

[2018-01-24 09:51] enricosada commented on #2064
reference are added in order, compiler use last one.

Closing, was fixed by fixing the package

[2018-01-24 09:51] #2064 closed

[2018-01-24 09:55] enricosada commented on #2408
Closing, dupe of https://github.com/fsprojects/Paket/issues/2054

[2018-01-24 09:55] #2408 closed

[2018-01-24 09:56] enricosada commented on #2054
really annoying for FSAC too

[2018-01-24 09:57] enricosada commented on #2051
Closing, done.

[2018-01-24 09:57] #2051 closed

[2018-01-24 09:57] enricosada commented on #2049
Closing

[2018-01-24 09:57] #2049 closed

[2018-01-24 09:59] enricosada commented on #2041
Closing.

now travis ci build both .net core and .net

[2018-01-24 09:59] #2041 closed

[2018-01-24 10:01] enricosada commented on #2040
Closing, done by @batzen , doc in https://fsprojects.github.io/Paket/nuget-dependencies.html#Referencing-specific-versions-in-projects

[2018-01-24 10:01] #2040 closed

[2018-01-24 10:02] enricosada commented on #2029
Closing, fixed

[2018-01-24 10:02] #2029 closed

[2018-01-24 10:03] enricosada commented on #2025
Closing.

as a note, fsproj of different sdk shouldnt be in same directory, because that is going to mess the `obj` dir a lot creating issues

[2018-01-24 10:03] #2025 closed

[2018-01-24 10:05] enricosada commented on #2019
Closing, hard to implement, no big gains atm

[2018-01-24 10:05] #2019 closed

[2018-01-24 10:05] enricosada commented on #2018
Closing

[2018-01-24 10:05] #2018 closed

[2018-01-24 10:08] enricosada commented on #2009
@Krzysztof-Cieslak with multiple target frameworks and dependencies, ihmo this become more annoying to configure than just ask the original proj to do `dotnet pack` and create a package correctly.

with new fsproj and cli tools, this is needed?

[2018-01-24 10:11] enricosada commented on #1996
Closing, fixed in user environemt

[2018-01-24 10:11] #1996 closed

[2018-01-24 10:13] enricosada commented on #1995
Closing, now should work

[2018-01-24 10:13] #1995 closed

[2018-01-24 10:37] enricosada commented on #1974
Fixed

[code]

[2018-01-24 10:37] #1974 closed

[2018-01-24 10:40] enricosada commented on #1970
Closing.

The build script (committed in repo) can dot source import the file inside `paket-files`

[2018-01-24 10:40] #1970 closed

[2018-01-24 10:41] enricosada commented on #1968
Closing. fixed in user environment

[2018-01-24 10:41] #1968 closed

[2018-01-24 10:43] enricosada commented on #1965
Closing, fixed in referenced PR

[2018-01-24 10:43] #1965 closed

[2018-01-24 10:46] enricosada commented on #1958
Closing, nupkg now specify Chessie version

[2018-01-24 10:46] #1958 closed

[2018-01-24 10:47] enricosada commented on #1957
Closing, added by @sarudak as `--fail-on-checks`

[2018-01-24 10:47] #1957 closed

[2018-01-24 10:48] enricosada commented on #1951
Closing, fixed version >= 5.9..1

[2018-01-24 10:48] #1951 closed

[2018-01-24 10:52] enricosada commented on #1925
Closing, by design

[2018-01-24 10:52] #1925 closed

[2018-01-24 10:57] enricosada commented on #1909
Closing.

.net core is tracked in https://github.com/fsprojects/Paket/issues/2875

[2018-01-24 10:57] #1909 closed

[2018-01-24 11:00] enricosada commented on #1887
Closing

[2018-01-24 11:00] #1887 closed

[2018-01-24 11:01] enricosada commented on #1885
Closing

[2018-01-24 11:01] #1885 closed

[2018-01-24 11:07] enricosada commented on #1854
Closing.

Dupe of https://github.com/fsprojects/Paket/issues/2054

[2018-01-24 11:07] #1854 closed

[2018-01-24 11:10] enricosada commented on #1847
Closing

[2018-01-24 11:10] #1847 closed

[2018-01-24 11:11] #1846 closed

[2018-01-24 11:12] enricosada commented on #1839
Closing, by design

[2018-01-24 11:12] #1839 closed

[2018-01-24 11:14] enricosada commented on #1827
Adding a section on top of lock file (human readable), will be nice maybe

[2018-01-24 11:23] enricosada commented on #1805
Closing, currently project references are handled in msbuild project

Discussion to move it `paket.reference` file is tracked in https://github.com/fsprojects/Paket/issues/1497

[2018-01-24 11:23] #1805 closed

[2018-01-24 11:25] enricosada commented on #1793
Closing

[2018-01-24 11:25] #1793 closed

[2018-01-24 11:30] enricosada commented on #1767
Closing, as per workaround (probably netstandard stuff).

@aph5nt feel free to open a new issue

[2018-01-24 11:30] #1767 closed

[2018-01-24 11:32] enricosada commented on #1759
Closing, paket can generate load script.

Discussion about package reference in fsx in https://github.com/Microsoft/visualfsharp/pull/2483

[2018-01-24 11:32] #1759 closed

[2018-01-24 11:35] enricosada commented on #1715
Closing,

dupe and discussion in https://github.com/fsprojects/Paket/issues/2179

[2018-01-24 11:35] #1715 closed

[2018-01-24 11:36] enricosada commented on #1698
Closing, bootstrapper is added to target file too

[2018-01-24 11:36] #1698 closed

[2018-01-24 11:38] enricosada commented on #1671
Closing, dupe of https://github.com/fsprojects/Paket/issues/2054

[2018-01-24 11:38] #1671 closed

[2018-01-24 11:39] enricosada commented on #1648
Closing

[2018-01-24 11:39] #1648 closed

[2018-01-24 11:39] enricosada commented on #1645
Closing, fixed in upstream package

[2018-01-24 11:39] #1645 closed

[2018-01-24 11:41] enricosada commented on #1637
Closing, is doing that now

[2018-01-24 11:41] #1637 closed

[2018-01-24 11:43] enricosada commented on #1633
Closing.

Fixed by https://fsprojects.github.io/Paket/local-file.html

Please open new issues to propose enhancements

[2018-01-24 11:43] #1633 closed

[2018-01-24 11:46] enricosada commented on #1620
Closing, fixed.

Please open another bug if issue happen again

[2018-01-24 11:46] #1620 closed

[2018-01-24 13:05] enricosada commented on #1609
Closed,

`paket outdated` support `--pre`

[2018-01-24 13:05] #1609 closed

[2018-01-24 13:15] enricosada commented on #1559
closing. Dupe of https://github.com/fsprojects/Paket/issues/2070

[2018-01-24 13:15] #1559 closed

[2018-01-24 13:15] enricosada commented on #2070
Changing the description to also show less verbose output

[2018-01-24 13:22] enricosada commented on #1539
Closing. `paket.template` support that

[2018-01-24 13:22] #1539 closed

[2018-01-24 13:27] enricosada commented on #1516
as a note, this is not going to work anymore, in xplat world or new nuget

[2018-01-24 13:32] enricosada commented on #1501
Closing

[2018-01-24 13:32] #1501 closed

[2018-01-24 13:35] enricosada commented on #1490
Closing, no repro and mono issues

@tpluscode please reopen if happen with latest mono

[2018-01-24 13:35] #1490 closed

[2018-01-24 13:38] enricosada commented on #1462
Closing, dupe of https://github.com/fsprojects/Paket/issues/2889

[2018-01-24 13:38] #1462 closed

[2018-01-24 13:38] enricosada commented on #2889
Additional scenario from https://github.com/fsprojects/Paket/issues/1462:

[code]

and

[code]

[2018-01-24 13:41] enricosada commented on #1450
Closing

[2018-01-24 13:41] #1450 closed

[2018-01-24 13:42] enricosada commented on #1444
Closing.

[code]

[2018-01-24 13:42] #1444 closed

[2018-01-24 13:45] enricosada commented on #1443
like `build:` attribute of `git` dependencies

[2018-01-24 13:51] enricosada commented on #1412
`paket add MyPkg -g binaries` can do it.

Will generate paket.dependencies` and `paket.lock`, but behaviour is pretty much what you expect.

Useful for example to download build only packages (like tools)

@pms1969 @Vilmir  can be ok?

[2018-01-24 13:57] enricosada commented on #1287
Closing. Dupe of https://github.com/fsprojects/Paket/issues/1546

[2018-01-24 13:57] #1287 closed

[2018-01-24 13:58] enricosada commented on #1546
based on https://github.com/fsprojects/Paket/issues/1287 feedback:

Include hashes in lock file and check at restore

[2018-01-24 14:04] enricosada commented on #758
@haf now also `dotnet pack` has a different sintax.

so each tool has different configuration. this continue to make sense or can be closed?

[2018-01-24 14:07] enricosada commented on #614
from https://github.com/fsprojects/Paket/issues/1139#issuecomment-148409344

 https://docs.nuget.org/create/configuration-file-and-source-code-transformations

[2018-01-24 14:08] enricosada commented on #1139
Closing, dupe of https://github.com/fsprojects/Paket/issues/614

[2018-01-24 14:08] #1139 closed

[2018-01-24 14:14] enricosada commented on #3000
Closing. Dupe of #2054

[2018-01-24 14:16] enricosada commented on #3000
Reopen for the performance issue of empty paket.references

The ignore of path is tracked in https://github.com/fsprojects/Paket/issues/2054

[2018-01-24 14:23] enricosada commented on #2967
Closing

[2018-01-24 14:23] #2967 closed

[2018-01-24 14:35] enricosada commented on #2925
@tpluscode right, paket miss that.

Closing this as dupe of https://github.com/fsprojects/Paket/issues/2370 who track adding `PrivateAssets` to paket

[2018-01-24 14:35] #2925 closed

[2018-01-24 14:37] enricosada commented on #2925
Added also a comment about `developmentDependency`

[2018-01-24 14:44] enricosada commented on #2896
Closing. @wooderz please open a new issue if you get the bug another time

[2018-01-24 14:44] #2896 closed

[2018-01-24 14:54] enricosada commented on #2877
https://github.com/fsprojects/Paket/blob/1cc416b75663110eb3011a397e1e367d26c7047f/src/Paket.Core/Dependencies/NuGet.fs#L304

@matthid putting that to stdout instead of stderr can be ok?

[2018-01-24 15:00] enricosada commented on #2866
@aggieben please do in vscode

[code]

should do.

If doesnt work, open an issue in https://github.com/ionide/ionide-vscode-fsharp/issues we canc ontinue there, it's not a paket issue. And mention me too in that issue (i'll continue there)

Closing.

[2018-01-24 15:00] #2866 closed

[2018-01-24 15:07] enricosada commented on #2839
Fix by PR #2842 , thanks @daz10000 !

Closing

[2018-01-24 15:07] #2839 closed

[2018-01-24 15:12] enricosada commented on #2818
@forki is possibile to detect by metadata.

`netcoreapp1.*` support up to `netstandard1.*` (hardcoded restriction), doesnt support `netstandard2.*`. resolution should restrict that

[2018-01-24 15:16] drinkbird commented on #2660
@enricosada thanks for the note. Unfortunately I can only find two separate images for `netcore` and `mono` (https://github.com/fsprojects/docker-fsharp/tree/master/4.1.29) but not one that has both. Am I missing something?

[2018-01-24 15:19] enricosada commented on #2801
Closing.

added with `LOCKEDVERSION-{groupName}`, like `LOCKEDVERSION-NetStandard` (`NetStandard is a group name)

@Tarmil  please open a new issue or reopen if that doesnt work or not enough

[2018-01-24 15:19] #2801 closed

[2018-01-24 15:33] enricosada commented on #2763
Afaik, PCL cannot import netstandard1.0 deps.
but a netstandard project can include PCL deps.

Closing, by design of .NET versioning.

@tastyeggs please open an issue in https://github.com/dotnet/standard/issues to check if is not correct this behaviour, and please reopen if is not correct

[2018-01-24 15:33] #2763 closed

[2018-01-24 15:36] enricosada commented on #2735
@haf can you retry if is correct now?

[2018-01-24 15:38] enricosada commented on #2731
Closing, fixed by #2734

[2018-01-24 15:38] #2731 closed

[2018-01-24 15:46] enricosada commented on #2714
Closing, original question is addressed.

Paket boostrapper check sha to detect corrupt downloads (where the bootstrapper crashed while downloading for example) and sha does that fast.

@teo-tsirpanis please open another issue if you want to discuss about authentication of paket/paket.boostrapper for security reason (but ihmo, because nuget package are checked is not that useful, there are easier

[2018-01-24 15:46] #2714 closed

[2018-01-24 16:13] enricosada commented on #2668
@tebeco can solution proposed in https://github.com/fsprojects/Paket/issues/2668#issuecomment-327019657 (using internal feed) and https://github.com/fsprojects/Paket/issues/2668#issuecomment-327023800 (using version from cli) be enough? can this be closed?

[2018-01-24 16:14] enricosada commented on #2647
@pmbanka any info from your IT dep?

[2018-01-24 16:16] pmbanka commented on #2647
@enricosada they didn't respond to my request... but I don't remember the last time I saw this issue, so maybe it's better to close the issue (I can reopen if I see it again).

[2018-01-24 16:18] tebeco commented on #2668
Yes it could be used, even if finnaly we're moving out from nuget due to other issue implying runtime resolution bug / binding redirect and other unwanted behavior since netStandard.

[2018-01-24 16:18] #2668 closed

[2018-01-24 16:21] enricosada commented on #2736
comparison with nuget version my help too. v3 allow transitive deps, v2 not

[2018-01-24 16:21] enricosada commented on #2617
Closing. dupe of #2736

[2018-01-24 16:21] #2617 closed

[2018-01-24 16:24] enricosada commented on #2612
Closing as pratically a dupe of #2394

@yevhen adding your use case to that issue, work will be tracked in #2394

[2018-01-24 16:24] #2612 closed

[2018-01-24 16:25] enricosada commented on #2394
from https://github.com/fsprojects/Paket/issues/2612#issue-250138259 by @yevhen

In a mixed solution where some of the projects use new VS17 csproj format and target multiple frameworks (net462/nestandard) conditional references are required for some scenarios, such as referencing `System.AppDomain` for netstandard but not when building for net46.

Example:

[code]

[2018-01-24 16:34] enricosada commented on #2596
Closing. dupe of https://github.com/fsprojects/Paket/issues/2394

[2018-01-24 16:34] #2596 closed

[2018-01-24 16:40] enricosada commented on #2580
now paket touch an imported target files on restore (that's how auto-restore works on VS), so if rider check targets files, should work.
@Mpdreamz can you retry if bug exists?

[2018-01-24 16:45] drwatson1 commented on #2877
As for me, I think it is a workaround only, not a solution. Because V3 is working

[2018-01-24 16:54] enricosada commented on #2522
i can repro in FSAC or ionide too  😭

[2018-01-24 16:56] enricosada commented on #2077
Uops, wrong closing. reopening

[2018-01-24 16:56] matthid commented on #2877
In my opinion warnings need to go to stderr not stdout, because stdout needs to be potentially parsable. That is generally agreed on in the unix and command line world.

[2018-01-24 16:57] matthid commented on #2877
Ideally the root cause is solved ;)

[2018-01-24 16:58] matthid commented on #2877
I should add: if that is not possible for some technical reason we *could* add an option to silence that particular warning.

[2018-01-24 17:04] enricosada commented on #2515
Closing, origin issue was fixed

@haf can you open a bug about this? is related to `paket pack`? afaik latest version with `dotnet pack`
 or `msbuild /t:Pack` works

[2018-01-24 17:04] #2515 closed

[2018-01-24 17:09] enricosada commented on #2501
@alexeyzimarev can you retry with latest version? should be fixed by rever with #2505

[2018-01-24 17:34] enricosada commented on #2325
Closing. probably mono issue (resolved after brew install)

[2018-01-24 17:34] #2325 closed

[2018-01-24 17:37] enricosada commented on #2324
@MiloszKrajewski  the `dotnet pack` is the way to go with .net sdk project.

Closing this, i'll check the #2323

[2018-01-24 17:39] enricosada opened #3011 "paket pack vs dotnet pack (or msbuilt /t:Pack)"
### Description

Using .net sdk project, is `paket pack` preferred, or is `dotnet pack` (alias of `msbuild /t:Pack`)

If is `dotnet pack`, documentation should say so, and paket should issue a warning if used against a project file

/cc @matthid @forki

[2018-01-24 17:40] enricosada commented on #2324
Added https://github.com/fsprojects/Paket/issues/3011 to track fix guidance about `paket pack` vs `dotnet pack`

[2018-01-24 17:40] #2324 closed

[2018-01-24 17:43] forki commented on #3011
There is no preference. Both have pros and cons.

Am 24.01.2018 18:39 schrieb "Enrico Sada" <notifications@github.com>:

[2018-01-24 17:47] forki commented on #2877
Everything agrees except Microsoft.

Am 24.01.2018 17:59 schrieb "Matthias Dittrich" <notifications@github.com>:

[2018-01-24 17:48] enricosada commented on #2647
@pmbanka nice, closing so, paket now is signed.

@lukasz-pyrzyk feel free to reopen Symantec antivirus quarantine another time paket

[2018-01-24 17:48] #2647 closed

[2018-01-24 18:10] brianary commented on #1759
Wait, why is that Paket feature marked obsolete?

[2018-01-24 18:12] brianary commented on #1759
I see, it looks like it's now https://fsprojects.github.io/Paket/paket-generate-load-scripts.html

[2018-01-24 18:21] enricosada commented on #1759
@brianary please try load scripts. Works really well ihmo, and are easier to reason about (just create a group if you want to isolate deps of a script, like for fake build )

If not, please reopen this or another issue

[2018-01-24 18:57] #2735 closed

[2018-01-24 18:59] haf commented on #758
Yeah, this issue is not relevant any more. I spent a day re-coding the above for albacore, so the cost is sunk. Thanks for getting back to it.

[2018-01-24 18:59] #758 closed

[2018-01-24 19:43] matthid commented on #2877
It's really just a matter of defaults. Microsoft thinks defaulting to "Warning as error" is a good default and you cannot argue with that. It's more a problem with people not being able to change the defaults ;)

[2018-01-24 20:01] drwatson1 commented on #2877
))))
I don't think so. It's look like a holy war therefore.
I can supply you with an account to our server if you want to see what's the matter or you can close the issue as none relevant.... It's up to you)))

[2018-01-24 20:18] matthid commented on #2877
No war. Ultimately, we have something here which is not critical but might need to be fixed (-> therefore a warning).
Until then disabling "warning as error" is a viable workaround.

[2018-01-24 20:32] drwatson1 commented on #2877
Ok, I agree
It's more then nothing)) Thank you
But what do you think about this? Is it a real degradation or it is a possibility only? About a month or two ago 'paket install' takes about 30-40 minutes to add a one new package.... For now it works several minutes

[2018-01-24 22:27] enricosada commented on #2242
Closing.

paket-boostrapper has a `--self` flag to self update.

[2018-01-24 22:27] #2242 closed

[2018-01-24 22:28] enricosada commented on #2242
@JohanLarsson please reopen if is not `--self` is not enough

[2018-01-24 22:34] enricosada commented on #2221
paket should get the latest fragement of url, without query part

[2018-01-24 22:50] enricosada commented on #2072
Was fixed

[2018-01-24 22:50] #2072 closed

[2018-01-25 10:41] msatina opened #3012 "Paket restore silently fails when TargetFramework(s) are specified in Directory.Build.props and not csproj"
### Description

When TargetFramework(s) are defined in Directory.Build.props Paket restore silently fails, it should be able to get it from msbuild at runtime.

### Repro steps

Have Directory.Build.props in solution root folder e.g.:

[code]

and then use the property to define TargetFramework in underlying project files, e.g.:

[code]

### Expected behavior
**Paket restore** shouldn't silently

[2018-01-25 13:33] enricosada commented on #2818
/cc @matthid

[2018-01-25 13:44] enricosada commented on #3011
Sure, but moving forward is a good idea to try go `dotnet pack`? for long term i mean, checking a migration path or if make sense to mainitain both.
there are blocker atm (feature we lose using `dotnet pack`)?

[code]

[2018-01-25 13:50] forki commented on #3011
not sure it's going forward ;-) it's more sideways

[2018-01-25 15:39] matthid commented on #2818
What we cannot detect is if a package DOES NOT support a particular framework. It is not in the metadata.
Technically the https://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection/2.0.0 package has a single dependency group for `.NETStandard 2.0` but that can (and will) have multiple interpretations:
 - the package is compatible with `NETStandard 1.0` but has NO dependencies for `.NE

[2018-01-26 15:09] SimonasMatenas commented on #2972
Thank you, it is working :)

[2018-01-26 16:57] frelon opened #3014 "Using Git, GitHub and Http sources in PublicAPI"
Right now there is no way (that I'm aware of) to add a git/github/http dependency using the PublicAPI.

Any ideas on implementation? I tried a draft on #2966

[2018-01-26 20:28] aggieben opened #3015 "Assembly resolution problem: MissingMethodException: Microsoft.Extensions.Configuration.ConfigurationBuilder.get_Properties"
### Description

In an F♯ console app targeting `netcoreapp2.0`, I'm referencing `Prometheus.Client.MetricServer` 1.1.3.  That package pulls in a pretty big chunk of Microsoft.AspNet.*.  I'm using Paket 5.130.3 to manage dependencies.  At runtime, the console program fails with an exception like this:

[code]

The reason this is unexpected (and wrong) is because the supposedly missing method is no

[2018-01-27 06:35] forki opened #3016 "Update argu to argu 5 and use new syntax"
Up-for-grabs

[2018-01-27 07:11] hravnx commented on #3016
I'm game

[2018-01-27 14:50] matthid commented on #2964
Yes I see this as well in Fake after updating .net SDK and the sln file (which visual studio did automatically) https://travis-ci.org/fsharp/FAKE/builds/334104618?utm_source=github_status&utm_medium=notification

So in particular after https://github.com/fsharp/FAKE/pull/1763/commits/56c07fc00d6ccc1aad8ddaf97b055bb52cef3dcb and https://github.com/fsharp/FAKE/pull/1763/commits/080e274087f579c0ff6a3

[2018-01-28 15:17] halcwb commented on #2967
Sorry, didn't have time to submit the minimum failing cases. But I guess you already figured out the source of the problem. Leaves me with a question whether it is possible to make sure Paket downloads minimum required versions instead of maximum possible version. Sames to me the first strategy is safer than the latter?

[2018-01-28 15:32] forki commented on #2967
It's not safer. Just different. But here it is:
https://fsprojects.github.io/Paket/nuget-dependencies.html#The-modifier-1

Am 28.01.2018 16:17 schrieb "Casper" <notifications@github.com>:

[2018-01-29 08:40] Tarmil commented on #2663
Here's a possible syntax for this, which I've used in some projects (implemented with a small preprocess script): `CURRENTVERSION/n` means just the first n components of `CURRENTVERSION`. So for example here you would use `~> CURRENTVERSION/2`, which expands to `~> 3.2`. I used the slash syntax is because it kinda looks like an IP mask.

[2018-01-29 08:55] Tarmil commented on #1553
This would be great! I would've used it just now if it existed.

[2018-01-29 09:09] enricosada commented on #3014
hi @frelon ! awesome to have that api too

I think as said in PR that was not the place, it need a new API function, just for that.

so a specific method like https://github.com/fsprojects/Paket/blob/master/src/Paket.Core/PublicAPI.fs#L132-L133

`AddGithub`, `AddGit`, `AddHttp`.
Best one for each type, using just one make things just more complicated (different flags/etc).

And new methods in http

[2018-01-29 12:01] frelon commented on #3014
Hi @enricosada!

Thanks for a very informative reply! I will try implementing this again with your changes in mind!

[2018-01-29 15:48] nukeme1 opened #3017 "Problem updating packages (from component group using -g flag) since https://github.com/fsprojects/Paket/pull/2927"
### Description (updated)
update: Just to specify, the referenced packages below are in a specific component subgroup and any references below to "update" are not plain updates, they are updates of a specific component group, example: paket.exe update -g [TheSubGroupName]
When performing a paket update, if there is a lock file present and it contains references to versions that are no longer avail

[2018-01-29 16:32] matthid opened #3018 "Syntax for FST-1027"
### Description

As I'd like to implement https://github.com/fsharp/FAKE/issues/1768 in FAKE we should decide on a syntax (just that in future the FAKE code can be simplified and/or users are not confused).

[code]

seems straight forward. I have a bit trouble with

[code]

Because from a users perspective it can mean two things:
 - Reference a group in a `paket.dependencies` named `somegroupname`

[2018-01-29 17:07] ntregillus commented on #1857
I am getting this exact issue with a forked project, and I still don't understand the workaround or fix for this issue on the project I forked https://github.com/ntregillus/LinqToSalesforce

[2018-01-29 19:48] matthid commented on #3018
For now I'll go with:
[code]

Creates a new group

[code]

References a group.

[2018-01-30 08:27] forki commented on #3017
so you are deleting packages? why?

[2018-01-31 15:25] nukeme1 commented on #3017
Package retention policy, related to storage space in our case, we only keep about 10 versions back.

[2018-01-31 16:56] foxrough opened #3021 "Use of private VSTS Feed with a Azure AD"
### Description

We have visual studio solutions that we want to migrate to VSTS.
These solutions use paket instead of nuget, and it work well today in our environment.

When we use paket inside a VSTS Build, paket do restore only packages from nuget.org.
But, these that come from a private VSTS nuget Feed are not resolved.

If I call paket restore from my dev machine, I have the same problem : on

[2018-01-31 17:00] foxrough commented on #3021
Complement : I have use Fiddler to watch the calls, and we can see that paket use the v2 api (instead of the v3 provided), and a lot of 401 Httpcode when calling
GET /_packaging/G2DevTeam/nuget/v2/Packages(Id='OneOfOutPackage',Version='2.0.0.4091') HTTP/1.1

[2018-01-31 17:15] forki commented on #3021
I think @isaacabraham uses it with vsts. It's definitely working. Can you
please show the source url that you are using? Maybe you use wrong url

Am 31.01.2018 18:00 schrieb "Benjamin DV" <notifications@github.com>:

[2018-01-31 18:42] foxrough commented on #3021
Thanks for your answer,
Here is the url https://xxxxxxxx.pkgs.visualstudio.com/_packaging/G2DevTeam/nuget/v3/index.json

Remember that it is an enterprise vsts managed by an azure ad , and need a credential provider, provided by ms.

[2018-01-31 20:14] isaacabraham commented on #3021
What do you mean by "corporate" VSTS? VSTS as I know it is a software service provided by MS.

[2018-01-31 20:26] foxrough commented on #3021
MS allows entreprise to use an Active Directory on Azure linked to the VSTS, so that, we can have a full SSO env. In that kind of hybrid cloud, MS provide a solution to authenticate the users on VSTS, because, we authenticate with AD credentials.
This solution is given with nuget.exe as a credential provider.
https://docs.microsoft.com/fr-fr/nuget/reference/extensibility/nuget-credential-providers

[2018-01-31 20:28] isaacabraham commented on #3021
We have VSTS backed by our AD as well - I'm not sure that this is anything to do with the issue per se, but rather (as you're saying) the interaction between that and your private feed - essentially you need to pass through or impersonate your identity when running Paket, I think.

[2018-01-31 20:34] foxrough commented on #3021
Thanks for your advise, gonna search in that direction,

[2018-02-01 07:48] foxrough commented on #3021
In addition, in your case, when you login into VSTS, do you need to first fill login field with an email (that do not exists), to be redirected to your company windows authentication ?

[2018-02-01 08:18] foxrough commented on #3021
I got it !!!
Solution (from the handyman :) ) :

1. Call the Microsoft Tool that come with our nuget.exe (downloaded from VSTS account) with my creds.
   CredentialProvider.VSS.exe with -Url https://xxxxxxxx.pkgs.visualstudio.com/_packaging/G2DevTeam/nuget/v3/index.json

The return is a json that contains a username and a >800 char's password (temporary??)

2. Call paket config url with the provid

[2018-02-01 08:25] matthid commented on #3021
Yes I think it would make sense to support credential providers the same way as nuget

[2018-02-01 09:03] msatina commented on #3012
Repository with sample project demonstrating the issue is here - https://github.com/msatina/Paket-i003012 .

[2018-02-01 10:36] jespersh opened #3022 "Cannot download packages if run on a mounted (P:\,S:\..) networkdrive"
### Description

Paket cannot download folders if paket runs from a networkdrive.
Like P:\ mounted against a UNC location \\corpshare\users\jeserpsh\

### Repro steps

1. Download https://github.com/ButchersBoy/MaterialDesignInXamlToolkit/archive/v2.3.1.zip and save to a network drive.

2. Optional: Right click the saved zip file and Unblock downloaded file protection

3. Extract the zip

4. cmd n

[2018-02-01 14:36] frelon commented on #3014
I got a bit carried away and wanted some feedback on #3023

I added the add-github, add-git, add-gist and add-http stubs in the CLI and started working on getting the add-github all the way to DependenciesFile.

In the test-scenario i002923 should the parsed file return the repository in DepFile.GetGroup().Packages ? or it's own .Repositories with matching RepositoryName? (which could also be used

[2018-02-03 17:21] IvanRibakov opened #3026 "Configure output folder"
### Description

One of the examples when this is needed is when using Paket with Unity3D projects. Unity is picky about where dlls can be located (they have to be anywhere inside `Assets/` folder in the project root as far as I understand) and as such there is no automated way to place them where they should be.

There is Paket.Unity3D (https://github.com/wooga/Paket.Unity3D), which attempts to s

[2018-02-05 16:36] madidier opened #3027 "Unfinished sentence/paragraph in the documentation"
### Description

There is an unfinished sentence or paragraph in the GH pages documentation. [It reads](https://fsprojects.github.io/Paket/bootstrapper.html#Setting-version-in-magic-mode) : "you can no longer use the command line to specify", but the page ends with that.

Also, it appears the whole paragraph would essentially repeat what's already written a couple paragraphs above it, only adding

[2018-02-05 16:38] forki commented on #3027
Please send a correction. Would appreciate it

Am 05.02.2018 17:36 schrieb "Maxime DIDIER" <notifications@github.com>:

[2018-02-05 23:36] matthid commented on #2375
Apparently this hasn't been fixed after all.

[2018-02-06 00:09] IvanRibakov commented on #3026
Any thoughts on the subject? Anyone?

[2018-02-06 06:07] forki commented on #2908
Is this still an issue? can you please retry? I think I fixed it

[2018-02-06 09:07] MangelMaxime commented on #2908
Thank you, it's seems fixed for me.

[2018-02-06 09:07] #2908 closed

[2018-02-06 09:35] ncave commented on #2908
@forki I can still easily reproduce this issue on Fable master, if I project-reference some non-paket enabled project (for example the visualfsharp FCS). Perhaps this is to be expected (or not).

- cd /Fable/src/dotnet/Fable.Compiler/
- remove FCS from paket.references
- add FCS project reference to Fable.Compiler.fsproj:
`<ProjectReference Include="../../../../visualfsharp/fcs/FSharp.Compiler.Ser

[2018-02-06 15:28] nukeme1 commented on #3017
Is there any news in regards to this issue, it is plaguing our CI environment which is currently set up to use the latest paket version available.

[2018-02-06 16:40] blair55 commented on #2823
I experience slow performance with `mono paket.exe install` using the below dependencies & lock

https://gist.github.com/blair55/fcbb276fc04e17517fd92beb37f33d11

[code]

[2018-02-06 17:55] dsyme opened #3029 "Paketized .NET SDK 2.0 projects using paket.references don't seem to work so well in VS for Mac"
### Description

I'm using paket happily on my Mac.

However I've had several occasions where I've had strange behaviour with new-style .NET SDK 2.0 ``paket.references`` projects, especially after opening the project in VS for Mac.  In each case the implicitly referenced DLLs just stopped being referenced

Initially this happened visibly when building from VS for Mac.  However the behaviour also p

[2018-02-06 19:44] blair55 commented on #2823
p.s. Paket version 5.133.0

[2018-02-07 06:26] forki commented on #3029
I think there are still issues around /obj in dotnet core. They lead to the
weirdest problems. Unfortunately very very hard to repro.

Am 06.02.2018 18:55 schrieb "Don Syme" <notifications@github.com>:

[2018-02-07 06:32] forki commented on #3017
Sorry, no news yet. I'm very low on time for the next two weeks. I will
look into this after that. But tbh not yet convinced this is a bug.
Deleting packages is something that should not be done. Ever.
But that said: I will look into it and try come up with a solution.

Am 06.02.2018 16:28 schrieb "nukeme1" <notifications@github.com>:

[2018-02-07 06:58] forki commented on #2823
Sorry I'm very busy the next two weeks. Will look into this after that.

Am 06.02.2018 20:44 schrieb "Nick" <notifications@github.com>:

[2018-02-07 08:12] nukeme1 commented on #3017
How would one go about simply keeping packages forever?  We have well over a million LOC as well as a multitude of packages that can vary in size up to roughly 300 Mb. We host all this ourselves, so infinite storage is really not an option.  Having a somewhat modest package retention policy has worked for the past 3 years without issue until now, is there no way to fall back on previous behavior i

[2018-02-07 08:28] forki commented on #3017
As I said: I will look into this and I'm definitely open for improvements
and PRs. I am definitely not doing this to annoy you. It was a performance
optimization that helped a lot. But we will find a way to make it work for
you. For now you can always pin paket itself to that older version.

Am 07.02.2018 09:12 schrieb "nukeme1" <notifications@github.com>:

How would one go about simply keeping pa

[2018-02-07 15:04] nukeme1 commented on #3017
Thanks for the response, we use proget and package retention policy is a standard feature, so stating that packages should never. be. deleted. ever.  seems a little off.  Especially in environments where storage is limited and considering that proget has an option for package retention, this means that it is not something that is custom/unheard of and is actually used/planned for and paket should

[2018-02-07 16:42] enricosada commented on #3029
@dsyme can you add `/bl` to msbuild command line?
this will generate a binary/structured log who can be opened with http://msbuildlog.com/

**NOTE** this contains all msbuild info (like `/v:diag`) so also env var. if is clear to mail in private, should help spot the bug

[2018-02-07 17:15] enricosada commented on #3026
Hi @IvanRibakov

A question, what is doing `Paket.Unity3D` more than standard paket atm? because based on that there are multiple way to extend paket itself

some ideas:

### use an msbuild target to xcopy `Reference`

You just need these directory in `Assets` folder?
You can probably add a post build step like (doesnt work, but will be similar)

[code]

if is enogh polished, can be added to Paket

[2018-02-07 17:55] IvanRibakov commented on #3026
Hi @enricosada, thanks for taking your time to look into my question.

Regarding your question:

as far as I understand, author's idea was to copy contents of `packages` folder inside `Assets/`. Which, in principle, is ok with me, if only Paket.Unity3D actually worked.

Regarding your ideas:

I'm fairly new to C# so I apologise if I misunderstood what you meant, but if you are suggesting to add pr

[2018-02-07 18:29] enricosada commented on #3026
@IvanRibakov so unity3d just import all .dll found inside `Assets` directory at build step?
this is important because usually paket update the files,

Is this the relevant doc? https://docs.unity3d.com/Manual/UsingDLL.html

So refining that, maybe:

## add an options from command line to print all the installed references

Use a command to print all path to assemblies, and copy with an external sc

[2018-02-07 19:31] IvanRibakov commented on #3026
Correct.

You mean paket updates .csproj file? I wonder what will happen if paket will get executed in CI environment with Unity project where no .csproj file exists (it is common to .gitignore .sln and .csproj files for Unity projects since Unity recreates them anyway).

Thanks, I wasn't aware of that feature! Should simplify the script. Though solution is still a bit awkward for the "add new pac

[2018-02-08 05:01] forki commented on #3017
This project has some options about package management. One is that things need to be reproducible. That feature of proget is something that this project is considering a real anti pattern.
Not pinning paket in CI is also something that is not recommended. You should usually do that do that you have reproducibility on all levels.

Again, I will look into this soon, but that does not change the fac

[2018-02-08 05:19] forki commented on #3017
One technical question: what happens when you do "paket update -f"?

[2018-02-08 06:03] forki commented on #3017
Ok I looked into the referenced commit. I don't think that's the root cause. The commit was fixing a regression and looks correct.

I believe the following is what happens:
For "paket install" we try to keep the new lock file as close as possible to the old lock file. Therefore we keep a list of the old versions as "preferred" versions. This preferred version list acts like a cache. So there the f

[2018-02-08 12:29] nukeme1 commented on #3017
I will try the - f, and get back to you. Our ci does a paket restore followed by packet update - g OurComponentGroup. We walked back from the latest version of paket and reset our folders, downloaded a version and tested it. We did this for each change until the update worked as expected. Even if it looks OK, I can assure you that the problem starts with the referenced change.

[2018-02-08 12:47] Allon-Guralnek opened #3032 "lowest_matching no longer respected from v5.125.3 and onwards"
### Description

It seems that lowest_matching was respected until 5.124.1 but starting from 5.125.3 and up to the latest version (5.133.0) it doesn't work anymore (for us).

### Repro steps

We have the following line in our solution:

    nuget Newtonsoft.Json ~> 10.0 >= 9 lowest_matching: true

This should resolve to Newtonsoft.Json 9.0.1 but any NuGets created in that solution should declare a

[2018-02-08 15:16] forki commented on #3017
Oh yes I did not mean this didn't introduce the change in behavior that you
are seeing. I meant the root cause for the problem lies elsewhere and this
commit only surfaced it.

Am 08.02.2018 13:29 schrieb "nukeme1" <notifications@github.com>:

[2018-02-08 15:28] nukeme1 commented on #3017
We tested with the version provided and do not see a difference in behaviour (the paket.exe update behaviour was not faulty to our knowledge).  Our build process really starts by calling a paket.exe restore followed by a paket.exe update -g OurComponentGroup.  The problem seems to be specific to attempting updates for a specific component group.

[2018-02-08 15:30] forki commented on #3017
Ah yes -g I did not patch that in the PR. Will do

Am 08.02.2018 16:28 schrieb "nukeme1" <notifications@github.com>:

[2018-02-08 15:45] forki commented on #3017
ok. disabled preferred versions for "update -g" as well in the PR. Would appreciate another test from your end. Thanks

[2018-02-08 18:35] nukeme1 commented on #3017
Sorry for the delay, took me awhile to figure that I could just point my remote to the repo and directly have access to the pr, I have built the changes and will confirm if this fixes the issue.  The changes do appear to fail in the appveyor and travis builders though, I imagine some tests might need to change for this to pass?

[2018-02-08 23:41] nukeme1 commented on #3017
I can confirm that the problem is resolved with your latest change!

[2018-02-09 09:00] inosik commented on #3032
Can you try changing the version requirement to `>= 9 < 11`? I use `lowest_matching` in a lot of projects at work and didn't notice anything wrong with it.

[2018-02-09 09:08] inosik commented on #3032
I just tried with this `paket.dependencies`:

[code]

Latest Paket (5.133.0) resolves both to 9.0.1.

[2018-02-09 10:08] #3017 closed

[2018-02-09 10:25] forki commented on #3032
resolves to 9.0.1 for me. But I seriously wonder what `~> 10.0 >= 9` actually means?!

/cc @matthid @agross

[2018-02-09 10:30] agross commented on #3032
`~> 10.0 >= 9` == `~> 10.0` as `~> 10.0` requires the version to be `>= 9`

[2018-02-09 10:31] forki commented on #3032
for me that string looks like bug in parser. we should have rejected it.

regarding version: @Allon-Guralnek expect 9.0.1 which it resolves to for me.

[2018-02-09 10:32] matthid commented on #3032
The question is: Is that valid syntax or an issue with the parser that we accept it (and do something random with it).

[2018-02-09 10:33] agross commented on #3032
👍

[2018-02-09 10:34] agross commented on #3032
The question is what the parser thinks the constraint is. If it is equal to `~> 10.0` then it's not an issue, but we should at least warn the user that they specified something they probably did not intend to.

[2018-02-09 10:36] forki commented on #3032
https://github.com/fsprojects/Paket/blob/master/src/Paket.Core/Dependencies/DependenciesFileParser.fs#L63-L66

looks like someone explicitly supported it

[2018-02-09 10:47] matthid commented on #3032
@Allon-Guralnek To get to the root of this issue: Maybe it's because of some other dependency that paket upgrades to 10? Can you post your full dependencies file or check with `paket why Newtonsoft.Json` (or post its output)?

[2018-02-09 12:15] Allon-Guralnek commented on #3032
Its seems I have wandered into quite a fundamental issue as to what the dependency syntax should be. I too found that line to be rather odd. But let's get back to the issue at hand. I switched to the following more accepted syntax, but the same bug persists:

    nuget Newtonsoft.Json >= 9 < 11 lowest_matching: true

Since it works for all of you as a standalone dependency, I must assume it has to

[2018-02-09 13:04] matthid commented on #3032
So `paket why` said `9.0.1` but in the lockfile we have `10.*`? But yeah it looks like you found some kind of bug.

[2018-02-09 13:24] forki commented on #3032
yes confirmed. it's a bug. possible fix in #3033

[2018-02-09 16:08] mark4asp commented on #930
Still not quite crystal clear.
Q1: When I run paket should I be running it via: the Windows shell, Powershell, or VS Package Manager Console, ...
Q2: When converting from a mixed system e.g. Nuget installed and some directly referenced assemblies, with different versions of an assembly in different projects.  What does paket do for the solution as a whole. Does it update all references in every pr

[2018-02-09 20:23] mclang commented on #1809
I encountered this same problem on Solus running mono 5.4.1.6 when running `paket.bootstrapper.exe` or `paket.exe`. The latter one I can download manually, but how to fix e.g `mono paket.exe update`?

Strange thing is that it works on CentOS 7.

[2018-02-10 07:04] #3032 closed

[2018-02-10 08:06] forki commented on #930
Q1: it doesn't matter. Paket is a command line tool and should work from all of the above.
Q2: paket convert will only touch the nuget references

Regarding git: most paket features have nothing to do with git. I don't really understand the question

[2018-02-10 12:57] Allon-Guralnek opened #3035 "Package is resolved to different versions randomly on multiple paket update runs"
### Description

When I run `paket update` on [this solution](https://github.com/gigya/microdot), it sometimes resolves the package [`NLog`](https://www.nuget.org/packages/NLog) to version 4.4.6 instead of 4.4.12 for no apparent reason (no backtracking seems to occur, it's the first version that appears in the console output). This seems to occur randomly, multiple runs of Paket flips between the

[2018-02-10 12:59] Allon-Guralnek commented on #3032
I can confirm the issue with `lowest_matching` was resolved in v1.135.0 (thanks for the quick response!) but a new issue is preventing us from using anything beyond 5.124.1: issue #3035.

[2018-02-10 13:47] forki commented on #3035
I assume #3036 fixes it

[2018-02-10 14:20] forki commented on #3035
mhm I can't repro.

[2018-02-10 14:45] TheAngryByrd commented on #2965
Did a `paket update` seems to have gone away.

[2018-02-10 14:45] #2965 closed

[2018-02-10 14:55] Allon-Guralnek commented on #3035
@forki Anything I can do to help repro? I just run `paket update` from a command prompt a few times and it repros easily.

[2018-02-10 14:59] forki commented on #3035
Can you please run "paket clear-cache" then try again?

Also: does it reproduce under "paket update -f"?

In the PR I now try to repro on the CI

[2018-02-10 15:18] Allon-Guralnek commented on #3035
[code]
8.5 minutes... is that normal?

Anyway, even after clearing the cache, both `paket update` and `paket update -f` still have the issue.

[2018-02-10 17:04] forki commented on #3035
Would not say it's normal. But it's not used much so nobody cared to
optimize it.

OK. So I need to find a way to reproduce

Am 10.02.2018 16:18 schrieb "Allon Guralnek" <notifications@github.com>:

Paket version 5.135.0
Performance:
 - Runtime: 8 minutes, 21 seconds

8.5 minutes... is that normal?

Anyway, even after clearing the cache, both paket update and paket update -f
still have the issue.

[2018-02-10 17:05] matthid commented on #3035
The cache can become quite big and if you have a slow hard drive it can be normal :)
But I guess there is at least some room for improvement.

[2018-02-10 17:07] Allon-Guralnek commented on #3035
@matthis: That workstation has a pretty fast SSD (not NVMe, but still) and Task Manager showed very little disk usage for paket.exe, mostly CPU was used.

[2018-02-10 17:32] forki commented on #3035
it's not the disk - it's how we do the cleanup. it's not that smart. but that's not the issue here.

anyway. I fail to repro. I have an idea why it may happen, but I cannot verify it.
@matthid can you repro?

[2018-02-10 17:34] forki commented on #3035
ok. just took a deeper look at the lock file. The idea that I had - nope it's not that. I'm seriously puzzled.

[2018-02-10 17:38] Allon-Guralnek commented on #3035
I've just tried to repro this on my home machine, but am unable to. I'll take a closer look at what Fiddler can tell me on my work machine.

[2018-02-10 17:39] forki commented on #3035
thank you! I don't think the issue lies in the part that we changed yesterday for that other bug. Must be something else

[2018-02-10 17:40] Allon-Guralnek commented on #3035
@forki, it certainly doesn't have anything to do with the latest fix because it happens on my work machine with v5.124.1 as well.

[2018-02-10 18:10] Allon-Guralnek commented on #3035
Interesting. On my work machine, the according to Fiddler the responses from nuget.org are different when Paket resolves to 4.4.12 and 4.4.6. I'm not very familiar with the XML format of NuGet servers, so I've included the `.saz` file for you full inspection. I've removed all sessions except the ones that mention NLog. The first two are from the run that resolved to 4.4.12, the second two resolved

[2018-02-10 20:26] matthid commented on #3035
Maybe it is some kind of paging problem. Can you try switching between V3 and V2 NuGet Gallery API?

[2018-02-11 08:17] forki commented on #3035
Yes looks like we don't follow the next link. That's weird

[2018-02-11 08:49] Allon-Guralnek commented on #3035
@matthid How do I switch to v3? I tried changing
`source https://www.nuget.org/api/v2/`
to
`source https://www.nuget.org/api/v3/`
but that just caused a bunch of errors to be thrown.

@forki: As you can see from the Fiddler capture, it does follow the link to the next page, but it doesn't contain version 4.4.12 either, so I don't think it's Paket's fault.

[2018-02-11 08:58] Allon-Guralnek commented on #3035
Okay, I figured it out, the v3 url is `https://api.nuget.org/v3/index.json`. Right now I can reproduce this issue consistently on v2, but I cannot reproduce it on v3. So as far as I'm concerned, it's a bug in NuGet.org's v2 API, not in packet, and since I can easily resolve it by switching to v3, I consider this issue resolved. Should I close it or should I leave it open so you can investigate pag

[2018-02-11 09:04] forki commented on #3035
I'd like to get it fixed and raise it with the nuget people.

Can you please help us out and make a list of all the nlog related urls
that are similar to what you have on the right side of the screenshot?

There must be one where we don't follow the link or there is one with
invalid data.

Am 11.02.2018 09:58 schrieb "Allon Guralnek" <notifications@github.com>:

[2018-02-11 09:13] Allon-Guralnek commented on #3035
@forki: I'm not sure what else you want me to collect. The two scenarios (works and doesn't work) and already fully captured in the Fiddler capture file in their entirety. The comparison was made from the captures in the files. You can check there for any corruption. What I see is that in the bad case, nuget.org returned only versions up to 4.4.6, and anything beyond was simply missing (even in th

[2018-02-11 09:16] forki commented on #3035
Ah Ok thanks. Didn't notice you already have uploaded such a file. Thanks.
Will need to investigate that

Am 11.02.2018 10:13 schrieb "Allon Guralnek" <notifications@github.com>:

[2018-02-11 09:53] forki commented on #3035
mmm I tried to look into the logs. I see 4 requests. Is that correct? You talked about multiple sessions.

(I'm not a fiddler expert so maybe I'm not loading it correctly)

[2018-02-11 10:54] forki commented on #2823
@blair55 how fast is second update run after the first run?

[2018-02-11 11:12] Allon-Guralnek commented on #3035
@forki The first two requests are from the `packet update` run that resolved NLog to 4.4.12, the other two are the ones that resolve to 4.4.6. I discarded all the other requests for the other packages for brevity's sake.

[2018-02-11 11:58] forki commented on #3035
Just saw it reproduces in CI in #3036

[2018-02-11 13:30] matthid commented on #3035
Yes this indeed looks like a server bug, or we use the API incorrectly (ie we need to forward some kind of context in the paging scenario).

If you send the request `https://www.nuget.org/api/v2/FindPackagesById()?id=%27NLog%27&amp;$skip=100` or `https://www.nuget.org/api/v2/FindPackagesById()?id='NLog'&$skip=100` often enough you can get:
 - A response containing "4.4.12"
 - A response not contai

[2018-02-11 14:04] matthid commented on #3035
Reported this to NuGet directly: https://github.com/NuGet/NuGetGallery/issues/5431

[2018-02-11 15:45] vbfox commented on #3012
Had the same type of problem today with this code

[code]

Sample repro: https://github.com/vbfox/paket_issue_3012

[2018-02-11 17:15] matthid commented on #3012
I briefly looked at it. The problem is that when we do the "lazy" generation of the `*.paket.resolved` files (because we detect one is missing) we fail to forward the framework to the paket call. So we call
`"E:\Projects\paket.test\paket_issue_3012\.paket\..\paket.exe"  restore --project "E:\Projects\paket.test\paket_issue_3012\Test.fsproj"` But we probably need to add the framework here in order

[2018-02-11 18:17] Zaid-Ajaj opened #3039 "Paket is referencing the non-transitive version of a package dependency"
### Description
Paket is referencing the non-transitive version of a package dependency (I though this is what paket was supposed to solve in the first place)

paket.dependencies (along with other packages)
[code]
paket.lock (along with other packages)
[code]
paket.references (of Project B)
[code]

Now building Project B doesn't work: dotnet doesn't recognises the namespaces from (Giraffe (>= 0.1.

[2018-02-11 18:19] forki commented on #3039
I think that is actually a bug in the dotnet cli. I have see that before and wanted to create a repro. We try to do that properly tomorrow.

[2018-02-11 19:04] blair55 commented on #2823
@forki Normally there is no significant difference.

[2018-02-11 19:18] Zaid-Ajaj commented on #3039
`paket --version => 5.13.5`

@forki thanks for the quick response, if you want a repro, just clone [Fable.Remoting](https://github.com/Zaid-Ajaj/Fable.Remoting) and `./build.sh`

[2018-02-11 19:46] forki commented on #3035
According to the nuget team it's fixed now. Can you please retry? Apparently they had a faulty search service in production.

[2018-02-11 19:50] Allon-Guralnek commented on #3035
Looks okay now, closing. Thanks everyone!

[2018-02-11 19:50] #3035 closed

[2018-02-11 20:47] vbfox commented on #3012
Copy pasting from slack, after discussing why generating dozen of `.paket.resolved` could be annoying if there was no detection (and that all supported framework were generated):

A single XML file could be generated and read like this :

[code]

[code]

(Instead of the current `ReadLinesFromFile`)

[2018-02-11 21:12] matthid commented on #3012
Actually I like the one from Slack more:

[code]

[code]

;)

[2018-02-11 21:17] vbfox commented on #3012
;) I experimented with trying to reduce the size of the generated XML :)

[2018-02-11 21:20] matthid commented on #3012
Well maybe if it turns out to be easy to implement ;)

[2018-02-12 05:30] forki commented on #2823
Ok. I Have a version in preparation that needs 3min. Which seems plausible
given that this retrieves the internet. But need to verify correctness

Am 11.02.2018 20:04 schrieb "Nick" <notifications@github.com>:

[2018-02-12 06:43] forki commented on #3039
ok I just looked at this and it seems to be correct. Everything binds to the one Giraffe `1.0` version from the lock file. As it should be.

Or what am I missing? It's alway using the resolved versions from the lock file. `1.0` is `>= 0.1.0-beta-700`  - so everything is correct.

[2018-02-12 10:26] Zaid-Ajaj commented on #3039
[code]
It doesn't seem to be working correctly, becuase paket is not referencing the *actual* transitive dependency `Giraffe 0.1.0-beta-700` of `Saturn` but instead it is referencing a whole different package `Giraffe 1.0` that is being used in a different project. `Giraffe 1.0` is NOT a dependency of `Saturn`

Maybe it is just that I don't understand paket and please correct me if I am wrong but

[2018-02-12 10:30] forki commented on #3039
Giraffe 0.1.0-beta-700 is NOT an actual dependency of Saturn. It specifies a range `>= 0.1.0-beta-700` and that is fulfilled with 1.0.

Yes everything binds that one version. That is how .NET works (not specific to paket) you can not load more than one version of the same assembly. Paket is "only" there for you to find which version that is.

I assume you are coming from node/js background where t

[2018-02-12 10:46] matthid commented on #3039
(the previous answer is not technically accurate but simplified for better understanding of the ecosystem)

[2018-02-12 10:48] forki commented on #3039
;-) yes I ommited things like appdomains and so on

[2018-02-12 10:49] Zaid-Ajaj commented on #3039
Ahh yes I understand now, I was thinking in terms of exact versions, not ranges of versions. Interesting.

My background is actually just .NET (I guess I still have much more to learn :smile:)

I am thinking of a couple of ways to solve this:
 - Use dependency groups and have project A and B use different groups (would that help?)
 - Changing the resolver strategy to `min` (trying this right now)

[2018-02-12 10:50] forki commented on #3039
let's be honest here: the real solution is to patch saturn to use Giraffe 1.0 - wonder if @Krzysztof-Cieslak is already working on it.

[2018-02-12 11:57] forki commented on #2823
@blair55 https://github.com/fsprojects/Paket/pull/3037 is solving your case in 45s

[2018-02-12 12:46] forki commented on #2823
@blair55 can you please retry?

[2018-02-12 12:56] forki commented on #2823
@TheAngryByrd tried git@github.com:TheAngryByrd/paket-install-slow.git and it's now at 52s

[2018-02-12 13:35] TheAngryByrd commented on #2823
Awesome!  I'll yet when I get in the office

[2018-02-12 13:55] forki commented on #3000
ok took a look at this. the problem is that paket still thinks it needs to maintain the csproj. So it will parse it and try to remove paket references from ealier runs.
Just think about the case when you have a package in the references file and then remove it. Paket needs to remove it from the csproj as well.

[2018-02-12 14:10] ivaylo5ev commented on #3000
@forki I see. Maybe this request is not correctly addressed as a paket concern, and maybe it is a very specific case of my own. It would be better if paket is able to properly maintain the package dependencies and without it processing the project one may experience some strange issues -- like what one happened to me once when I merged a project from version control and the merged version referred

[2018-02-12 14:10] #3000 closed

[2018-02-12 14:10] blair55 commented on #2823
Yep, can confirm:

[code]

[2018-02-12 14:50] forki commented on #2917
@btrepp  can I have a dependencies file for this?

[2018-02-12 15:22] MiloszKrajewski opened #3041 "paket 5.136.0 is not used in "magic" mode"
### Description

Paket 5.136.0 is not used in "magic" mode.

### Repro steps

1. Download `paket.bootstrapper.exe`
2. Run `paket.botstrapper.exe`
3. Observe it downloads `paket.exe` 5.136.0
4. Delete `paket.exe`
5. Rename `paket.bootstrapper.exe` to `paket.exe`
6. Run `paket.exe`
6. Observe it runs `paket.exe` **5.135.0**

### Expected behavior

Expected running 5.136.0 in both cases.

### Actual

[2018-02-12 15:28] forki commented on #3041
I think this is because the 24h outdated check is not triggered for. I
assume you updated recently to 135./cc @vbfox

Am 12.02.2018 16:22 schrieb "Milosz Krajewski" <notifications@github.com>:

Description

Paket 5.136.0 is not used in "magic" mode.
Repro steps

   1. Download paket.bootstrapper.exe
   2. Run paket.botstrapper.exe
   3. Observe it downloads paket.exe 5.136.0
   4. Delete paket.exe

[2018-02-12 16:24] TheAngryByrd opened #3042 "Annoying shasum output on osx/linux"
### Description

[Some idiot](https://github.com/fsprojects/Paket/pull/2870) decided speed was better than pretty output. On `dotnet restore` paket outputs all the hashes of the two files it's compares.

[code]

Looks like https://github.com/ctaggart/SourceLink/pull/294 figured out to use
 `StandardOutputImportance="Low"` in the `Exec` directive.

I'll send a PR shortly.

### Repro steps

Run any

[2018-02-12 16:28] TheAngryByrd commented on #2823
🎸

[code]

[2018-02-12 16:35] vbfox commented on #3041
Essentially "It's not  a bug, it's a feature" 😉

Updating on the internet is slow, and paket can run dozen of times during a build so the magic mode bootstrapper must ensure that it's not slowing everything down. Also having the version change between 2 executions in the same build (or even manually) can wreck havok.

One of the way it does that is by forcing the `--max-file-age=` setting to 12 ho

[2018-02-12 17:42] forki commented on #3041
I think this comment should go into docs in to FAQ section

Am 12.02.2018 17:35 schrieb "Julien Roncaglia" <notifications@github.com>:

Essentially "It's not a bug, it's a feature" 😉

Updating on the internet is slow, and paket can run dozen of times during a
build so the magic mode bootstrapper must ensure that it's not slowing
everything down. Also having the version change between 2 executions

[2018-02-12 21:37] Zaid-Ajaj commented on #3039
Using different groups for different projects solved the issue, thanks a lot @forki @matthid

[2018-02-13 04:59] baronfel opened #3044 "paket restore on old framework doesn't detect missing packages folder"
### Description

I was helping @mathias-brandewinder debug an issue on the FAKE build for his [CNTK wrapper repo](https://github.com/mathias-brandewinder/CNTK.FSharp) and came across the following scenario, where paket thought a restore had occurred but packages were in fact missing.

### Repro steps

1. Have a old-SDK, full-framework repo with paket.lock. Note that we have not set `storage: none`

[2018-02-13 06:10] #3039 closed

[2018-02-13 06:57] forki commented on #3044
The cache file is for paket to detect if it needs to do something. If we
would still scan packages then we would defeat its purpose.

Am 13.02.2018 05:59 schrieb "Chet Husk" <notifications@github.com>:

[2018-02-13 07:36] matthid commented on #3044
Exactly, but I think clear-cache deleting the file could work out pretty
well.

On 13 Feb 2018 07:57, "Steffen Forkmann" <notifications@github.com> wrote:

[2018-02-13 08:02] forki commented on #3044
Yes I think clear-cache should remove paket-files and packages folder as
well.

Am 13.02.2018 08:36 schrieb "Matthias Dittrich" <notifications@github.com>:

[2018-02-13 08:22] #3042 closed

[2018-02-13 08:40] #3044 closed

[2018-02-13 08:51] forki commented on #3044
done

[2018-02-13 14:10] MiloszKrajewski commented on #3041
It definitely should go to FAQ! Thanks.

[2018-02-13 14:13] forki commented on #3041
@MiloszKrajewski any chance you could send a PR?

[2018-02-13 17:57] matthid commented on #3012
Looking at the corresponding code places I noticed that we have to ask @alfonsogarciacaro because fable depends on those files as well :)

@alfonsogarciacaro Is it a problem for fable to read the above XML schema instead of the raw text files we have right now?

Obviously not not break stuff we will generate both (or now 3 types of files actually) for quite a while :/

[2018-02-13 18:39] alfonsogarciacaro commented on #3012
If there's a reliable schema it shouldn't be a problem to check XML instead of plain text. Though I guess this will change again at some point so maybe it's better to find a way to communicate with Paket and ask for the dependency order... which may be problematic now Paket is distributed in different ways. Though the alternative (adding a Paket.Core dependency to Fable) isn't ideal either as the

[2018-02-13 18:47] matthid commented on #3012
I guess every communication we choose will change somehow someway ;).
Also we can leave the existing files in it's current form there forever.

[2018-02-13 18:52] forki commented on #3012
There is only one file that fable reads. Just keep that one stable.

Am 13.02.2018 19:47 schrieb "Matthias Dittrich" <notifications@github.com>:

[2018-02-13 18:53] matthid commented on #3012
so we keep `obj/<project>.references`

[2018-02-13 21:23] alfonsogarciacaro commented on #3012
That'd be perfect, but if you do need to discriminate references by target framework, that shouldn't be a problem as we do have that info (I haven't been following the discussion so not sure if this is an issue).

Another question: is the algorithm to resolve the dependency order portable? Would it be possible to extract it to a library and use it from Fable?

[2018-02-13 22:13] matthid commented on #3012
@alfonsogarciacaro The algorithm is surprisingly simple. Problem is only getting the info of which package depends on which one. So you have that?

[2018-02-14 00:24] eiriktsarpalis opened #3045 "Looking for a way to reference different versions of FSharp.Core in multi-targeted projects"
### Description

Multi-targeting provides an excellent means to author libraries that target both .NET classic and .NET standard frameworks. However, I am missing a way to specify different versions of FSharp.Core per target using paket. This is an important requirement, since I do not want to force FSharp.Core >= 4.2 on consumers of the net4x build.

### Repro steps

Using the [code from this com

[2018-02-14 05:57] forki commented on #3012
The problem is for fable to get the dependency order of the referenced
packages. I don't know how you would do that by just asking the proj file

Am 13.02.2018 23:22 schrieb "Matthias Dittrich" <notifications@github.com>:

[2018-02-14 07:21] forki commented on #3045
see https://github.com/fsprojects/Paket/pull/3046

[2018-02-14 09:20] alfonsogarciacaro commented on #3012
Fable uses Enrico's [dotnet-proj-info](https://github.com/enricosada/dotnet-proj-info) so we get [all the arguments to be passed to the F# compiler including .dll references from an .fsproj](https://github.com/fable-compiler/Fable/blob/a8d4213e7c3edba82685da95680545c6c363338c/src/dotnet/dotnet-fable/ProjectCracker.fs#L147-L204) (and we assume the nuget package is just two folders up, that's how we

[2018-02-14 09:21] forki commented on #3012
I don't think that's enough to do it easily.

[2018-02-14 10:25] eiriktsarpalis commented on #3045
Awesome, thanks!

[2018-02-14 11:21] #3045 closed

[2018-02-14 12:16] forki commented on #2976
@pshrosbree I finally found time to report it: https://github.com/NuGet/Home/issues/6563

[2018-02-14 15:10] forki commented on #2858
![image](https://user-images.githubusercontent.com/57396/36211450-8c41171a-11a1-11e8-98ee-99964e47ccac.png)

sorry took me a while. but should be fixed

[2018-02-14 15:10] #2858 closed

[2018-02-14 16:13] eiriktsarpalis opened #3047 "Paket pack failing in multi-target projects"
### Description

It seems like the paket pack command is failing when attempting to bundle packages in multi-target projects.

### Repro steps

1. Do a Release build of [this project](https://github.com/eiriktsarpalis/Repro/tree/acaa51c4f220fb587782af707e9e874f65a22817).

2. From the command line, call `.paket/paket.exe pack .`

### Expected behavior

Should construct a nuget package with supplied

[2018-02-14 18:54] forki commented on #3047
Haha @matthid this is hunting us now.

Am 14.02.2018 17:14 schrieb "Eirik Tsarpalis" <notifications@github.com>:

[2018-02-14 19:00] eiriktsarpalis commented on #3047
@forki context? I'll see if I can write a fix for this over the weekend.

[2018-02-14 19:05] eiriktsarpalis commented on #3047
I have been able to make it work in a non multi-target setting.

[2018-02-14 19:06] eiriktsarpalis commented on #3047
Quite a bit of unnecessary boilerplate though: https://github.com/fsprojects/Argu/blob/35ff826bb0944d06cb2763f79d4a86d48d83b643/src/Argu/paket.template

[2018-02-14 19:10] forki commented on #3047
Let's just say pack command needs a bit of help. But especially for dotnet
core people used dotnet pack with success, so it wasn't our highest
priority.

Am 14.02.2018 20:06 schrieb "Eirik Tsarpalis" <notifications@github.com>:

[2018-02-14 21:55] viktor-svub opened #3049 "change in paket clear-cache results in self-destruct"
### Description

We have a two-stage build system, where the build dependencies are handled separately, under nested directory, and allow to specify custom `paket.dependencies` for the projects' build tools, incl. Paket itself,
which is then used to download the actual projects' packages.

As we have long-term issues with NuGet caches, when build agent temporarily loses connectivity to repository,

[2018-02-14 22:32] eiriktsarpalis commented on #3047
Makes sense. I had evaluated dotnet pack, but wasn't too impressed by its configurability.

[2018-02-14 22:51] matthid commented on #3047
What exactly is missing in dotnet pack?

[2018-02-15 00:32] eiriktsarpalis commented on #3047
Couldn't find a way to pass version numbers or customize contents, e.g. to
include DLLs from other projects.

On Wed, 14 Feb 2018, 22:51 Matthias Dittrich, <notifications@github.com>
wrote:

[2018-02-15 08:49] #3049 closed

[2018-02-15 16:17] DotNetRussell opened #3050 "Paket install and update pull stale versions of Logary"
### Description

When I attempt to run `paket install` with `nuget Logary` in my paket.dependencies file, I get a stale file hash for `EventStore.Logary.fs`

### Repro steps

I THINK this will produce the error

1. Add nugget Logary to your `paket.dependencies` file.

2. Run paket install
[code]

### Expected behavior

The newest file hash should be retrieved and inserted into the download url

##

[2018-02-15 20:42] TheAngryByrd commented on #2817
If I'm looking to debug `Paket.Restore.targets` on a repository is there a way to tell paket to not autodownload this file on restore?

[2018-02-16 06:32] forki commented on #2817
it does not download - it extracts it from resources

[2018-02-16 07:21] forki commented on #3050
this is currently a known issue. Install dores not keep git hashes stable.

[2018-02-16 12:48] TheAngryByrd commented on #2817
Sorry, regardless of the mechanism of how the file gets there, is there a way to tell paket to not overwrite the file when I have changed it to include more debug messages? If not, would an environment variable be appropriate?

[2018-02-16 12:49] forki commented on #2817
Yeah would accept a pr which introduces a env variable

Am 16.02.2018 13:48 schrieb "Jimmy Byrd" <notifications@github.com>:

[2018-02-16 13:39] TheAngryByrd commented on #2817
Ok cool 😎

[2018-02-17 12:48] matthid opened #3052 "paket update --group mygroup fails if another group is missing in the lockfile"
### Repro steps

1. Add a new group `<newgroup>` into the dependencies file
2. Update an existing different group `paket update --group <existing>`
3.

[code]

### Known workarounds

Update all groups  or remove the new group.

[2018-02-17 23:32] matthid commented on #3012
@alfonsogarciacaro What is @vbfox AssemblyReader?

[2018-02-18 02:00] eltiare opened #3053 "Convert from nuget failing to run afterward"
### Description

I converted my project using the instructions found in the Wiki, and now I can't run any dotnet commands.

### Repro steps

Convert a project on Mac after installing globally: `paket convert-from-nuget`.

### Expected behavior

`dotnet build` runs successfully in project

### Actual behavior

[code]

It seems that .paket/paket.exe is indeed missing.

### Known workarounds

Haven't

[2018-02-18 02:05] eltiare commented on #3053
Never fails, I post an issue and then I find the solution. I needed to run `paket restore` in the project root.

[2018-02-18 02:05] #3053 closed

[2018-02-18 13:02] vbfox commented on #3012
@matthid A small experiment I did a few days ago to replace Assembly.Load usage in Paket bootstrapper to read the assembly informational version with something that doesn't really load the full assembly in memory. I took the parts of Cecil that load the assembly tables & use the minimum of it to read the single value that interest me : https://github.com/vbfox/AssemblyVersionReader/blob/master/Con

[2018-02-18 13:20] matthid commented on #3012
As @alfonsogarciacaro only need to order a list of `.dll`s I actually think `AssemblyRef` would be enough

[2018-02-19 00:38] alfonsogarciacaro commented on #3012
I've been thinking about this over the weekend, and maybe I can just get the dependencies from the `.nuspec` file and then resolve the dependency order. Actually I'm already doing that for project references (which are not necessarily in order in the .fsproj).

[2018-02-19 06:07] forki commented on #3012
That's even more tricky since you need to understand all the frameworks and
how they play together - you will probably end up with reimplementing a lot
of paket code

Am 19.02.2018 01:38 schrieb "Alfonso Garcia-Caro" <notifications@github.com

[2018-02-19 08:13] mexx opened #3055 "Misleading error message about auth failure"
### Description

When there is a technical issue while accessing the NuGet feed, like 502 deliver by the server, the user gets the message about the credentials being invalid.

[code]

### Repro steps

Running `paket` in verbose mode revealed the real issue.

[code]

### Expected behavior

An error message indicating the technical problem of the server.

### Actual behavior

An error message indic

[2018-02-19 08:34] forki commented on #3055
Since you can already repro - would love to get a pr

Am 19.02.2018 09:13 schrieb "Max Malook" <notifications@github.com>:

[2018-02-19 10:37] ChrSteinert commented on #1675
Paket 5.138 does not show this behaviour. Let's close this ;)

[2018-02-19 10:37] #1675 closed

[2018-02-19 14:12] #3052 closed

[2018-02-19 23:55] faviann opened #3057 "Transitive prerelease resolving fails when root dependency also marked as prerelease"
### Description
Pretty new to Paket so bear with me. I suspect this is a bug but it might be a misunderstanding.

Seems that adding a prerelease is not always respected in situations where the root and child are both marked as prerelease.

Since I have a bit of a hard time explaining the problem clearly, I instead added a test in a fork, highlighting the issue. To make it simple I matched the test

[2018-02-20 07:09] forki commented on #3057
nice catch. But in all my tests it was selecting 1.0.11203 - which at least did not violate any constraints.
I never saw it select. 2.0.0

[2018-02-20 08:01] #3057 closed

[2018-02-20 10:09] #1607 closed

[2018-02-20 12:04] pchinery opened #3060 "Remove paket.restore.cached"
### Description
For us, the paket.restore.cached file mostly caused trouble so far. As it was silently introduced, it was accidentally added to git by a few developers. Recently, we had a problem where Paket updated the cache file, but the packages folder contained an outdated file. Sometimes, Visual Studio moves files from the packages folder and they are not restored, as the cache file says ever

[2018-02-20 12:11] forki commented on #3060
it wasn't silently introduced, we tried to explain it on all channels ;-)

yes it's a performance optimization and so far it works very well. To my knowledge there are no open bug reports. The biggest issue we see is that people commit the file instead of gitignoring it.

I don't think removing the file is a good idea because then new SDK/.NET Core restores will take forever.

@matthid The questio

[2018-02-20 12:18] pchinery commented on #3060
yes, I know it was not completely silent, from the devs perspective it was suddenly there and then committed due to lack of better knowledge. So I am sorry I sounded so accusational, that was not my intention :)

The argument of .Net Core is a good one, as the number of dependencies horribly grows and it sounds like that's the reason why it was introduced. I can't offer any reproduction, but we ha

[2018-02-20 13:10] pchinery commented on #3060
that was the first problem, but right now it was not committed, but locally for one dev the packages folder was not restored, but the `paket.restore.cached` file and the `paket.lock` were in sync, leaving us with strange and hard to trace build errors

[2018-02-20 14:06] #2884 closed

[2018-02-20 14:11] forki commented on #3022
@enricosada @matthid how can this even be possible? If I start paket from a mounted drive - how can http request fail!?

[2018-02-20 14:14] forki commented on #2827
how about we just probe couple of know paths?

[2018-02-20 15:36] faviann commented on #3057
Confirmed it fixed the issue on my side. That was bloody quick as a fix. Thanks a lot!

[2018-02-20 15:56] forki commented on #2676
the other one is closed as well

[2018-02-20 15:56] #2676 closed

[2018-02-20 22:38] matthid commented on #3022
Can you translate the string in the error message (from verbose mode).

Things to check:
- Is the network location a trusted location (in IE settings)
- Is your Firewall blocking the connection?

[2018-02-21 08:14] jespersh commented on #3022
Using https://www.microsoft.com/en-us/language/Emt (Danish)
The closest would be: "An invalid argument was specified"

It would appear so, although I am unsure if correctly done following this guide: https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-it-pro/internet-explorer-7/bb496428(v=technet.10) - then I have already set **Include all network paths (UNC)**

We have

[2018-02-21 15:21] jespersh commented on #3022
Using https://www.microsoft.com/en-us/language/Emt (Danish)
The closest would be: "An invalid argument was specified"

It would appear so, although I am unsure if correctly done following this guide: https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-it-pro/internet-explorer-7/bb496428(v=technet.10) - then I have already set **Include all network paths (UNC)**

We have

[2018-02-21 16:10] enricosada commented on #2689
same error `<IncludeSymbols>true</IncludeSymbols>` as props in msbuild file ( the `--include-symbols` just set that property )

[2018-02-21 16:23] panesofglass commented on #2689
Wow! That was FAST!

[2018-02-21 17:23] matthid commented on #3022
What is your firewall solution? Can you test on a different system? Can you temporarily test without anti maleware/firewall solution?

[2018-02-21 18:18] enricosada commented on #3060
have it in `paket-files` is not enough? that dir should be .gitignored anyway

[2018-02-21 18:25] enricosada commented on #3047
@eiriktsarpalis you can include any files, in any nupkg directory (renamed too) with something similar to

[code]

You can also include output of projectreferences with a different xml thing.

version number like what? `/p:Version` and `/p:PackageVersion` can customize some.

[2018-02-21 18:55] jespersh commented on #3022
It would appear this is a feature/issue/unknown thing in dotnet:
 * https://github.com/dotnet/project-system/issues/206#issuecomment-252869071
 * https://github.com/dotnet/corefx/issues/12581
 * https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/ac3261e2-3983-4df8-b773-c2e06b783094/error-creating-the-web-proxy-exception-calling-web-service-from-a-net-executable-on-a-network?forum=window

[2018-02-22 08:19] pchinery commented on #3060
@enricosada: that's two different things... before the file was introduced, there was no paket-files folder. After it was introduced, we added it to .gitignore. The main problem though is, that the `paket.restore.cached` file seems to have been writen when the restore was not successful, i.e. Visual Studio was not letting go some assemblies. The latter problem is why I started this discussion, as

[2018-02-22 15:33] Tarmil opened #3063 "paket.template: support "framework: xyz" in frameworkAssemblies"
In a `paket.template` file, it is currently possible to specify `dependencies` for a specific framework:

[code]

which creates this nuspec bit:
[code]

but the same does not work for `frameworkAssemblies`:

[code]

which should create this nuspec bit:

[code]

[2018-02-22 18:03] gdennie opened #3064 "paket.reference to recognizing github packages in paket.lock file"
### Description

The paket.dependencies file is:
[code]

### Repro steps

1. Create a F# Windows console application using VS 2015/17 Community Edition (OS: Windows 2008 R2)
2. Perform `paket init`
3. Create paket.dependencies file with the following contents:
[code]
4. Create paket.references file in project with contents:
`Argu`
5. Perform `paket update` (or `paket install`) from VS menu or comm

[2018-02-22 20:12] dachew opened #3065 "Paket.bootstrapper.exe unable to communicate with GitHub (5.138.5)"
### Description

GitHub shut down an old insecure encryption cypher, and paket.bootstrapper.exe is not able to talk to their servers.  More info here:
https://githubengineering.com/crypto-removal-notice/

### Repro steps

Please provide the steps required to reproduce the problem

1. Download latest paket.bootstrapper.exe

2. Try to run it.  Observe error.

[code]

### Expected behavior

The boots

[2018-02-22 21:32] ptrstpp950 commented on #3065
**Workaround**
Add registry keys to force NET framework to use strong encryption. For example PowerShell commands:
[code]

[2018-02-22 21:54] ppatino commented on #3065
Any idea on expected resolution timeline? Workaround is easy enough locally but needs more work for CI servers.

[2018-02-22 22:11] ptrstpp950 commented on #3065
As you can see pull request is in progress #3066
Still, it will need to changes in source after the owner of this repository release it. I'm just an unlucky user, who need workaround ASAP 😄

[2018-02-22 22:14] BlythMeister commented on #3065
Also, all source code branches would need an updated bootstrap if you add the bootstrapper into your repo...

[2018-02-23 03:37] egracer commented on #3065
You can also force the download from nuget using `--force-nuget` or by configuring `paket.bootstrapper.exe.config` as described [in the bootstrapper documentation](https://fsprojects.github.io/Paket/bootstrapper.html#In-application-settings).

[2018-02-23 03:57] samhanes commented on #3065
If you're using magic mode, you can use the following paket.exe.config:
[code]

[2018-02-23 09:38] csmager commented on #3065
I've updated to the bootstrapper in the 5.141.0 release (with the fix from #3066), I now get a different error in 'magic mode':

[2018-02-23 09:39] ptrstpp950 commented on #3065
No only `paket.exe.config` helps

[2018-02-23 09:51] forki commented on #3065
Any ideas what's still going wrong?

[2018-02-23 09:53] csmager commented on #3065
Update VS this morning and now VS and Rider both claim I don't have .NET Framework 4.5 SDK, so Paket won't build anymore. Once I've shaved that yak I'll see if I can debug and get more info...

[2018-02-23 10:03] BlythMeister commented on #3065
the release is missing the sha256.txt file...don't know if that helps

[2018-02-23 10:05] csmager commented on #3065
Ah, yeah. Clicking the link in the error message I posted gives you a 404.

[2018-02-23 10:05] AlexanderUsmanov opened #3067 "Release 5.141.0 doesn't contains paket-sha256.txt"
### Description

Paket bootstraper couldn't dowload latest version of paket.exe from (https://github.com/fsprojects/Paket/releases/latest) because paket-sha256.txt doesn't presented.

### Repro steps

1. Download paket.bootstraper.exe
2. Run paket.bootstraper.exe
3. Catch error while dowloading latest version of paket.exe

### Expected behavior

paket-sha256.txt exists in https://github.com/fsproj

[2018-02-23 10:09] forki commented on #3067
fixed

[2018-02-23 10:09] #3067 closed

[2018-02-23 10:09] forki commented on #3065
uploaded in 5.142.0

[2018-02-23 10:11] BlythMeister commented on #3065
![image](https://user-images.githubusercontent.com/1046836/36589027-d8bef698-1881-11e8-895d-12a053a56a75.png)

Seem good now for me.

[2018-02-23 10:12] forki commented on #3065
Thanks everyone

Am 23.02.2018 11:11 schrieb "Chris Blyth" <notifications@github.com>:

[2018-02-23 11:26] MiloszKrajewski commented on #3065
Thank you for quick fix!

[2018-02-23 13:59] dsyme commented on #3065
Could someone post a description of what we should do?

For example, at the moment I just have this `paket.exe`

[code]

If you send a link to the replacement I can replace it.

[2018-02-23 14:02] samhanes commented on #3065
@dsyme That's correct.

[2018-02-23 14:04] dsyme commented on #3065
@samhanes thanks!

[2018-02-23 16:31] panesofglass commented on #3064
I think this is related to the GitHub changes. Even after working around the paket download issue, my builds were still breaking on AppVeyor with an error that the file was not found. At least, I think this is related. If not, I'm happy to open a new issue.

[2018-02-24 06:49] forki commented on #3064
@panesofglass with the new bootstrapper?

[2018-02-24 11:09] eiriktsarpalis commented on #3047
@enricosada thanks for the info. I'd still be looking for a replacement to the `CURRENTVERSION` and `LOCKEDVERSION` macros that paket offers (c.f. https://fsprojects.github.io/Paket/template-files.html#Dependencies)

[2018-02-24 11:30] misterspeedy commented on #3065
Just to confirm - I had this exact issue with an extant project (VS Code + Win10) and downloading paket.bootstrapper.exe (as linked above) into .paket in my project, then renaming it to paket.exe, fixed the issue.  Didn't have to restart VS Code.

[2018-02-24 16:10] forki opened #3068 "Create pull requests for all paket users on github"
@vbfox created the following statement

@forki 1524 projects have files that are either paket or it's bootstrapper in standard positions https://docs.google.com/spreadsheets/d/19Th3rRWBIoFxlBpbuDQ9QSd7tlJ05Fibq7VFH9h52mE/edit#gid=1315769600
Of theses 590 had commits after 2017-01-01: https://docs.google.com/spreadsheets/d/1m6Qu_lEy1LQYKoBpKA9HVMvMvIRQj70mdf1pfaA3S0A/edit#gid=63915918

Thanks googl

[2018-02-24 16:17] forki commented on #3068
Example PR for magic mode: https://github.com/SAFE-Stack/SAFE-BookStore/pull/300

Example PR for old school mode: https://github.com/fsprojects/Argu/pull/104/files

Note: in both cases we add the 63KB paket.bootstrapper.exe to the project - just target file names differ.

@shiftkey offered help. I would appreciate that very much

[2018-02-24 16:24] cdrnet commented on #3068
I've noticed that quite a few of these are forks - do we want to open PRs on the mainline repos only or also on all the forks?

[2018-02-24 18:03] eugene-g commented on #3068
When sending PR, don't forget to add "I'm some random person on the internet. To check that I'm not adding any malicious code into your codebase, refer to official Paket repository with pubished SHA256 checksum and, please, validate that it is matching."

[2018-02-24 18:24] vbfox commented on #3068
@cdrnet Yes that was my next message on the slack, Github API (via Octokit?) should be queried for each to get if it's a fork, get the size to ensure that it's not the main paket and download it to check the version

[2018-02-24 18:45] forki commented on #3068
@eugene-g yes good point. The text message should be good and also include security notice. And we should send it from a trusted account.

[2018-02-25 00:29] vbfox commented on #3068
Ok I computed the repos that would need an upgrade : https://docs.google.com/spreadsheets/d/1cjmf7YD-3ZnPzJxNIPl_6m0YS2dFYf45kdUF3ZJ-yYU/edit?usp=sharing

That is the previous list where I queried if they were forks and the version of the bootstrapper to check that it wasn't the latest

[code]

[2018-02-25 02:38] TeaDrivenDev commented on #3068
I just checked the list to see which of my repositories came up, and I think the query may be a bit off.

For example https://github.com/TeaDrivenDev/BranchDocuments doesn't exist anymore and has been renamed to https://github.com/TeaDrivenDev/Amagatsha (which is also listed).

And https://github.com/TeaDrivenDev/GjallarhornTest2 is missing, although it has a 5.132 bootstrapper (weirdly as both `p

[2018-02-25 04:31] shiftkey commented on #3068
@forki I've put together a rough script to do all this over in https://github.com/shiftkey/paket-upgrader, and you can see it in action here: https://github.com/TeaDrivenDev/StatusPotentiae/pull/1

[2018-02-25 05:06] shiftkey commented on #3068
@forki @TeaDrivenDev and others - I'm looking for feedback on how to simplify this so others can use it and share the load, mostly around a proper CLI so that you could pass in a list of repositories or just point it at someone's account.

Also, I want to make sure that these PRs do resolve the problem before broadcasting this more broadly...

[2018-02-25 15:00] haf opened #3072 "Fails to resolve the home folder"
### Description

[code]

Results in

[code]

### Expected behavior

`~` should be resolved to `$HOME` on *nix systems.

### Actual behavior

Paket believes it's a local folder.

### Known workarounds

Providing a full path is not really a workaround since it makes the git repository non-portable between peoples' machines.

[2018-02-25 15:17] TeaDrivenDev commented on #3068
@shiftkey Works for me. I deleted the 5.142 .exe from `AppData\Local\NuGet\Cache\Paket`, ran the "magic mode" bootstrapper on `master` and got the TLS error. Bootstrapper on the PR branch correctly downloads Paket 5.142.

[2018-02-25 17:28] haf opened #3074 "`http` dep fails with BadRequest"
### Description

<img width="301" alt="yeah, that's how you're having it?? ;)" src="https://user-images.githubusercontent.com/193115/36692949-ef5d0ccc-1b39-11e8-83de-0f59ce122ba0.png">

[code]

Then

    paket install

Output:

[code]

Trying to download it through the browser works just fine.

I had also expected `paket install --verbose` to inform me of the request being made, but it did not.

#

[2018-02-26 00:52] shiftkey commented on #3068
@vbfox I'd recommend using the Content API to check the SHA of the `paket.exe` or `paket.bootstrapper.exe`  rather than rely on the file size:

https://github.com/shiftkey/paket-upgrader/blob/master/PaketUpgrader/PaketUpgrader.cs#L47-L60

And the work to create a new commit through the GitHub API (avoiding the need to clone it locally) is here:

https://github.com/shiftkey/paket-upgrader/blob/mast

[2018-02-26 09:14] enricosada commented on #3047
`CURRENTVERSION` and `LOCKEDVERSION` yes are missing.

Root issue is, where are config/options for `paket` pack?
Doing `dotnet pack` works with paket who manage the dependencies list (that's the integration).
Metadata are now already now handled by sdk (`Authors` etc), deps too `paket.references`).
But where can users write `CURRENTVERSION` and `LOCKEDVERSION`?

Atm is `paket.template` considered

[2018-02-26 10:34] Tarmil opened #3075 "Exception restoring projects in parallel with dotnet sdk 2.1.100-preview"
### Description

Visual Studio 2017 15.6-preview installs dotnet SDK 2.1.100-preview. One change with this new SDK is that `dotnet restore` restores the projects of a solution in parallel. This causes paket to trip over itself:

[code]

### Repro steps

Please provide the steps required to reproduce the problem

1. Install a dotnet SDK preview, either by installing VS2017 15.6-preview or by gettin

[2018-02-26 10:42] forki commented on #3075
/cc @matthid

[2018-02-26 13:55] #2375 closed

[2018-02-26 15:38] ruhullahshah opened #3076 "[paket pack] Inconsistent pinned version of referenced projects with include-referenced-projects enabled"
### Description

In the attachment(Demo.zip), I have 3 projects:
- Consumer project has 2 dependencies mentioned below.
- TemplatedDependency project which has its own paket.template
- StandAloneDependency project which doesn't have a paket.template

On running paket pack with --lock-dependencies, (Refer to create_packages.bat in the attachment), we have the following behavior:
- Without `include-

[2018-02-26 19:48] #1509 closed

[2018-02-26 19:48] #3021 closed

[2018-02-26 19:53] haf commented on #3065
macOS / linux is not fixed by anything above, instead, download a new version of paket and do this:

    curl -L -o /tmp/cacert.pem https://curl.haxx.se/ca/cacert.pem
    cert-sync --user /tmp/cacert.pem
    mono .paket/paket.exe install -vv

[2018-02-26 20:25] haf opened #3079 "Failing HTTP references are still considered valid"
### Description

See #3074; after letting the failure happen, paket continues on its merry way and the next run, assumes the HTTP reference "already exists":

[code]

Also, the code used to download HTTP resources could use a cleanup, IMO; it mixes cold async and hot tasks, doesn't properly read the content stream for non successful requests and doesn't log properly.

[2018-02-26 22:15] panesofglass commented on #3064
@forki yes.

[2018-02-26 22:26] panesofglass opened #3080 "Paket 5.145.0 fails to generate-load-scripts completely"
### Description

Paket 5.145.0 fails to generate-load-scripts completely, at least on AppVeyor builds.

### Repro steps

Please provide the steps required to reproduce the problem

1. Create a Project Scaffold project referencing `Microsoft.Azure.Management.Fluent`
2. Generate load scripts and reference the `Microsoft.Azure.Management.Fluent` script in `build.fsx`
3. Create an AppVeyor build that

[2018-02-26 22:27] panesofglass commented on #3080
All of our builds just started failing, and I was only able to fix it by locking on paket 5.141.0.

[2018-02-26 22:49] matthid commented on #3080
Yes something is wrong, I'm trying to fix :/

[2018-02-26 22:57] baronfel commented on #3080
We hit this today as well. Http.fs is a good test case if you need one.

[2018-02-26 23:23] matthid commented on #3080
@baronfel Yes, but we need those test-cases in our test suite to be effective ;)

Either way I think I found the problem and fix is on the way, sorry for the breakage. That shouldn't have gone through our test suite :/

[2018-02-26 23:53] matthid opened #3081 "UAP10.0.16300"
To release a bugfix I ignored:

[code]

[2018-02-26 23:56] #3080 closed

[2018-02-26 23:57] matthid commented on #3080
Let me know if https://github.com/fsprojects/Paket/releases/tag/5.145.1 works again.

[2018-02-27 00:04] panesofglass commented on #3080
@matthid no, it still fails for us with the same error.

[2018-02-27 00:30] panesofglass commented on #3080
@matthid I can confirm that version works.

[2018-02-27 06:44] forki commented on #3064
@gdennie I looked at this. What makes you think this would work? you are referencing a github project - not a nuget package. Is this a feature request?

[2018-02-27 06:54] #3074 closed

[2018-02-27 07:13] sanderaernouts commented on #2949
@enricosada any updates on this? Had the same issue again yesterday (paket  5.145.1) and this produces a 1GB package.

[2018-02-27 07:31] MohsenBzm commented on #3006
The issue solved clearly

[2018-02-27 07:31] #3006 closed

[2018-02-27 07:32] #2949 closed

[2018-02-27 07:33] sanderaernouts commented on #2949
Thanks @forki

[2018-02-27 07:34] forki commented on #2949
please test and let me know. thanks

[2018-02-27 07:42] forki commented on #3072
it should also do something sensible on windows - after all paket repos need to work on both platforms

[2018-02-27 07:51] draganjovanovic1 opened #3082 "Broken restictions in paket.lock"
### Description

I do have both netcoreapp2.0 and netstandard2.0 projects in the solution and this framework restriction in paket.dependencies file

[code]

Everything used to work correctly for a long time but recently Paket started adding restrictions to paket.lock where condition can't be satisfied:
[code]

This does not work for netstandard2.0 project because of the "(&& (== netstandard2.0) (>

[2018-02-27 07:54] forki commented on #3082
can you please upload a zip with that repro project?

[2018-02-27 08:12] oopbase commented on #3072
Something sensible on windows would be `%systemdrive%%homepath%` I guess?

[2018-02-27 08:26] draganjovanovic1 commented on #3082
Here it is w/o paket.lock included:
[paket-restrictions-repro.zip](https://github.com/fsprojects/Paket/files/1761781/paket-restrictions-repro.zip)

### Repro steps
1. sh paket.sh install OR paket install
2. dotnet build

### Workaround
1. Fix paket.lock - VS Code regex find: "- restriction:.*$" and replace with ""
2. dotnet build

[2018-02-27 08:35] forki commented on #3082
did a paket install and dotnet build:

![image](https://user-images.githubusercontent.com/57396/36718259-6dfecb44-1ba1-11e8-8d4b-7d940929b323.png)

everything green!?

[2018-02-27 08:37] forki commented on #3082
RESTRICTION: || (== netcoreapp2.0) (== netstandard2.0)
    NUGET
      remote: https://api.nuget.org/v3/index.json
        FAKE (4.64.6)

       ....

        Microsoft.AspNetCore (2.0.1)
          Microsoft.AspNetCore.Diagnostics (>= 2.0.1)
          Microsoft.AspNetCore.Hosting (>= 2.0.1)
          Microsoft.AspNetCore.Routing (>= 2.0.1)
          Microsoft.AspNetCore.Server.IISIntegration (>= 2

[2018-02-27 08:38] draganjovanovic1 commented on #3082
I accidentally zipped paket.lock as well. Please delete it and try again.

Here is my output:
[code]

[2018-02-27 08:43] draganjovanovic1 commented on #3082
And here is my output after I remove -restriction: lines from paket.lock

[code]

[2018-02-27 11:27] forki commented on #3082
I'm a bit lost. I think it's a bug, but I need @matthid to investigate it

[2018-02-27 13:02] orient-man opened #3086 "UriFormatException for gist references with GitHubApi token (versions > 5.142.0)"
### Description

Throws UriFormatException for gist references with GitHubApi token (versions > 5.142.0)

### Repro steps

Example reference that used to work:

    gist orient-man/c29c299ed970fd097f80124ffde734ce FindOutdatedPackages.fsx github-api-token

### Expected behavior

Should work as described in https://fsprojects.github.io/Paket/github-dependencies.html#Referencing-a-private-GitHub-rep

[2018-02-27 14:12] forki commented on #3086
![image](https://user-images.githubusercontent.com/57396/36733367-a6103da4-1bd0-11e8-8791-b4dcb5a29435.png)

seems to work for me.

[2018-02-27 14:39] forki commented on #3086
ok now I can repro. @matthid this looks like a regression that was introduced with CredentialProviders

[2018-02-27 14:57] matthid commented on #3086
Yeah another area where our test-coverage is not all that awesome ;)

[2018-02-27 15:39] #3076 closed

[2018-02-27 16:00] agross opened #3088 "Retry HTTP downloads"
### Description

When a http dependency fails to download, please retry the request. I see a lot of transient errors with sourceforge.

### Repro steps

1. Add `http https://downloads.sourceforge.net/project/optipng/OptiPNG/optipng-0.7.7/optipng-0.7.7-win32.zip` and try to restore.

### Expected behavior

Retry like we do with NuGets for x times, then fail.

### Actual behavior

[code]

### Known

[2018-02-27 17:12] gdennie commented on #3064
@forki I reviewed the documentation again, [GitHub dependencies](https://fsprojects.github.io/Paket/github-dependencies.html). At the time I somehow thought that `paket` allowed the import of `github` hosted libraries similar to how it treated `nuget`. Upon review, that is not the case. The documentation in this area could use some work.

Thanks for your attention.
George.

[2018-02-27 17:21] pshrosbree opened #3089 "convert-from-nuget fails with ArgumentException: The option value was None Parameter name: option"
### Description

Converting a solution with a single F# netcoreapp2.0 project fails with:

[code]

### Repro steps

Please provide the steps required to reproduce the problem

1. Create solution with a single F# netcoreapp2.0 project.
2. Create a `.paket` folder in the solution folder
3. Run  .`paket\paket.exe convert-from-nuget`

[A git repository with a repro sample](https://github.com/pshrosbre

[2018-02-27 17:24] matthid commented on #3082
Ok this indeed took a while to understand, but it seems like everything works as designed. Let me explain that a bit...

Some facts (at least that's what my testing yields):
- It doesn't work without global restrictions (it only works because of manual lockfile edits)
- The package https://www.nuget.org/packages/Microsoft.AspNetCore.All specifies its dependencies ONLY for `.NETCoreApp 2.0`, paket

[2018-02-27 17:26] matthid commented on #3089
can you post the output with verbose flag please? `paket -v convert-from-nuget`

[2018-02-27 17:53] pshrosbree commented on #3089
[code]

[2018-02-27 17:58] matthid commented on #3089
[code]

I can send a fix to not crash anymore but
@enricosada @forki What does `Update` mean? Do we need to use Update as well when emitting `FSharp.Core` in our msbuild integration?

[2018-02-27 18:21] dsyme opened #3091 "Do framework conditional references in paket.references work with .NET SDK-style projects?"
I've had trouble getting conditional references in `paket.references` working in the context of .NET SDK-style projects.  Roughly speaking I had this in `paket.references`:

[code]

But I still get this error for when compiling `TargetFramework=netcoreapp2.0` for a multi-targeting project:

[code]

I would have thought that the `framework: net461` would suppress the reference for `netcoreapp2.0`?

[2018-02-27 18:22] dsyme commented on #3091
(This is a question - I suppose I can create a repro if this is expected to work - thanks)

[2018-02-27 21:04] JarnoNijboer opened #3093 "Backslashes not escaped after #3071"
### Description
Today I upgraded from Fake 5-beta018 to beta020 because of the broken intellisense in VSCode. (fsharp/fake#1744).
With this change the forward slashes in intellisense.fsx are replaced with single back slashes.

### Repro steps

Please provide the steps required to reproduce the problem

1. Upgrade Fake 5 from beta018 to beta020

2. Delete [script_name.fsx].lock file

3. Call fake.c

[2018-02-27 21:12] matthid commented on #3093
Ah sorry... you fix something on one side and something else breaks on the other side :/

[2018-02-28 05:52] forki commented on #3093
Is that a paket bug?

Am 27.02.2018 22:12 schrieb "Matthias Dittrich" <notifications@github.com>:

[2018-02-28 06:04] forki commented on #3091
Yes we minimal repro would be good. Tbh I'm not sure.

Am 27.02.2018 19:22 schrieb "Don Syme" <notifications@github.com>:

[2018-02-28 06:13] matthid commented on #3093
Yes most likely load script generation is still broken

[2018-02-28 06:19] forki commented on #3093
Are you looking into this?

Am 28.02.2018 07:13 schrieb "Matthias Dittrich" <notifications@github.com>:

[2018-02-28 06:19] forki commented on #3089
IIRC it means to override the one that ships with sdk.

Am 27.02.2018 18:58 schrieb "Matthias Dittrich" <notifications@github.com>:

[2018-02-28 06:29] forki commented on #3064
Did you look at https://fsprojects.github.io/Paket/git-dependencies.html#Using-Git-repositories-as-NuGet-source - with git dependencies you can let paket build the nupkgs for you.

Also please send improvements to the docs that clarify the problem

[2018-02-28 06:45] forki opened #3095 "Reactivate docs by using FSF as tool"
Currently we don't publish docs - see https://github.com/fsprojects/FSharp.Formatting/issues/461

@matthid sugested to use FSharp.Formattings as command line tool

[2018-02-28 07:39] matthid commented on #3093
I added the fix to https://github.com/fsprojects/Paket/pull/3090

[2018-02-28 07:40] forki commented on #3093
that one gets huge ;-)

[2018-02-28 07:42] matthid commented on #3093
+45 −18 is still kind of review-able ;)

[2018-02-28 09:20] forki commented on #3068
cool stuff. After small test I tried to run it on repositories.txt but two things:

a) everything in parallel seems to be an issue
b) I assume it hit rate limit ---> no pull request created

[2018-02-28 09:20] ChrSteinert opened #3097 "Generate Load Scripts fails with BadImageFormatException on Microsoft.TestPlatform.TestHost"
### Description

When the package `Microsoft.TestPlatform.TestHost` is a dependency in `paket.dependencies` file and it is tried to create a load script for that dependency paket fails with a `BadImageFormatException`.

### Repro steps

See a repro repo here: https://github.com/ChrSteinert/Paket-3097
Do a `paket install` && `paket generate-load-scripts` do trigger the bug.

### Expected behavior

[2018-02-28 09:31] forki commented on #3097
any chance to send a fix? I think @isaacabraham  hit it as well

[2018-02-28 09:32] isaacabraham commented on #3097
Hmmm. I vaguely remember something about this but can't remember when or where. Getting old I guess...

[2018-02-28 09:37] ChrSteinert commented on #3097
It was hitting you here: https://github.com/fsprojects/FSharp.CloudAgent/pull/19 @isaacabraham 😄

[2018-02-28 09:38] ChrSteinert commented on #3097
Let me see if I can understand what is going on quickly and not just bash a `try…with` in there as well…

[2018-02-28 13:52] #3097 closed

[2018-02-28 14:46] #3088 closed

[2018-02-28 14:52] agross commented on #3088
Thank you very much!

[2018-02-28 15:03] forki commented on #3088
![image](https://user-images.githubusercontent.com/57396/36794543-eb2b3166-1ca0-11e8-8570-8bbc3caa7d7b.png)

already helping me in another scenario...

[2018-02-28 15:05] agross commented on #3088
I'm glad you benefit as well :) 👍

[2018-02-28 15:08] forki commented on #3072
fixed by @oopbase

[2018-02-28 15:08] #3072 closed

[2018-02-28 15:17] #3086 closed

[2018-02-28 15:17] #3089 closed

[2018-02-28 15:17] #3093 closed

[2018-03-01 03:28] gdennie commented on #3064
Either I did not notice that or did not recognize it as the defacto solution that it is. The fact that github packages must be built is an obvious but understated distinction from nuget that could use a bit more fanfare.

If time permits, I'll see what I can improve in the documentation.

Thanks again.

[2018-03-01 11:46] draganjovanovic1 commented on #3082
@matthid, I can confirm that adding Microsoft.AspNetCore.Http in addition to Microsoft.AspNetCore.All metapackage helps.

You are right, Microsoft.AspNetCore.All metapackage is netcoreapp2.0 only even lots of packages included are netstandard2.0. This used to work for a long time and suddenly stopped so I thought it is paket issue but it is obviously not.

[2018-03-01 11:46] #3082 closed

[2018-03-04 10:04] rrvenki commented on #1808
renangms. Please let us know how to solve this problem.

[2018-03-05 07:27] M0ns1gn0r commented on #2662
Actually you can't, you have to do it from Visual Studio's Package Manager Console. Otherwise you'll get the error:

However, the EF commands wouldn't appear in the VS console until I've added `version_in_path: true` in `paket.dependencies`:

[2018-03-08 01:04] Lavinski commented on #3003
I was able to figure out why I was encountering this issue.

In my case, the working directory I used when calling `paket pack` was the project directory. Changing the working directory to the parent solution directory resulted in the expected behaviour.

I'm not sure if the working directory is meant to impact this behaviour. However, if it is it would be worth showing a warning or error in this

[2018-03-08 17:08] auxym opened #3103 "Paket downgrades direct dependency without reason"
### Description

Paket resolves a direct dependency to a lower version than available, even though the latest version is also a valid resolution, with the same transitive dependency solution.

I would really like to give a reproduction sample here, but unfortunately, I only had this bug happen using our internal artifact server and packages. Instead, please try to follow my reasoning through this

[2018-03-09 09:20] halcwb commented on #2875
Just a sanity check. Currently it is not possible to use only dotnetcore with Paket? You need to have .net framework or mono installed?

[2018-03-09 09:27] forki commented on #2875
yes to run paket you still need that. but @enricosada is working on it...

[2018-03-09 11:14] forki commented on #3103
I openend https://github.com/fsprojects/Paket/pull/3104 with a start for a unittest that nails down your case. Please take a look and extent the graph until it breaks like you see in the real world case

[2018-03-09 13:36] robertomellocampos opened #3105 "henge remote"
### Description

Please provide a succinct description of your issue.

### Repro steps

Please provide the steps required to reproduce the problem

1. Step A

2. Step B

If possible then please create a git repository with a repro sample or attach a zip to the issue.

### Expected behavior

Please provide a description of the behavior you expect.

### Actual behavior

Please provide a description

[2018-03-09 13:38] auxym commented on #3103
Thanks, I'll try setting up something that reproduces the issue.

[2018-03-09 14:44] auxym commented on #3103
OK, I created #3106 which is based on #3104 and reproduces the exact same issue we get.

For additional fun, try adding additional versions of `delphi-tf-latest-convert` to the graph. Paket always resolves one version prior to latest :)

[2018-03-09 14:49] forki commented on #3103
Thank you. I will take a look

Am 09.03.2018 15:44 schrieb "Francis Thérien" <notifications@github.com>:

[2018-03-09 15:51] forki commented on #3103
it's confirmed as bug

[2018-03-10 08:33] forki commented on #3103
@auxym I'm working on a fix in #3104 but it's not trivial. Interesting corner case.

[2018-03-10 17:00] Jand42 commented on #3075
Other workaround: run `dotnet restore` with the `--disable-parallel` flag.

[2018-03-10 18:33] 0x53A commented on #2811
Just hit this again, this time with an FSharp.Core.

The issue is two-fold:

1) the old references are not removed
2) the new references are not added!

And the worst part is that, at the moment, the failure is silent and only manifests at runtime with an assembly mismatch.

I propose, as a quick fix, to solve #2. On the next compile, the user will get a warning like this and can then remove the p

[2018-03-10 19:14] 0x53A commented on #2811
``--hard`` was removed with https://github.com/fsprojects/Paket/commit/24e08edcb83dd44d2ebfb664c6e93130182f60b4 (3.0.0-alpha098).

I have tested that  2.58.3.0 has the same behavior, so it is not a regression.

[2018-03-11 07:18] forki commented on #3075
Can you please upload a zip with a sample project that would fail on new
sdk? Thanks

Am 10.03.2018 18:00 schrieb "András Jankó" <notifications@github.com>:

[2018-03-12 06:55] wallymathieu commented on #3095
I've tried running it locally with the latest version of FSharp.Formatting. Let's see if it works on CI as well.

[2018-03-12 10:14] #3095 closed

[2018-03-12 10:42] Jand42 opened #3110 "Big Paket cache affecting update behavior"
### Description

We are using Paket to grab newly built packages from a local NuGet feed using `NuGet.Server 2.11.3` in a Jenkins CI stack build. `storage: none` is used so that workspaces do not take a lot of space. This also needs regular Paket `clear-cache` to free up space. At one point where the cache has not been cleaned recently (was >10GB), Paket updates just failed to pull new packages fr

[2018-03-12 10:44] forki commented on #3110
what does that mean?

[2018-03-12 10:49] Jand42 commented on #3110
More info: happened with version `5.142.0`.

Our CI builds run a `paket update` on the `paket.dependencies` group with the internal dependencies, using a source pointing to a locally hosted NuGet server. At one point this stopped to work reliably: no new versions were updated to even when the NuGet feed exposed them correctly. I guess this could have something to do with the Paket cache growing to

[2018-03-12 10:52] forki commented on #3110
mhm I think we need to somehow repro and locate what's going wrong

[2018-03-12 10:55] forki commented on #3110
because for update we always look at the sources

[2018-03-12 11:11] forki commented on #3075
just tried with https://github.com/SAFE-Stack/SAFE-BookStore locally. but can't repro.

[2018-03-12 12:17] #3103 closed

[2018-03-12 16:35] matthid commented on #3110
Well if the drive is full nobody knows what happens. Couldn’t you change the build to clear cache when free drive space is lower than some value?

[2018-03-12 18:46] janni2 opened #3111 "dotnet pack + multiple .nuspecs -> "given path's format not supported""
### Description
I somehow could not prevent, that there were 2 files created: lib.nuspec + lib.symbols.nuspec
This leads to a simple error in the Paket.Restore.targets file, which prevents me from creating a nuget-file

### Repro steps
* skip (see bugfix)

### Expected behavior
* skip (see bugfix)

### Actual behavior
* skip (see bugfix)

### Known workarounds
* Paket version 5.149.0 (downloaded a

[2018-03-12 18:53] matthid commented on #3111
Related:
 - https://github.com/fsprojects/Paket/issues/3012
 - https://github.com/fsprojects/Paket/issues/2689
 - https://github.com/fsprojects/Paket/issues/2830

And probably others.

[2018-03-12 18:54] janni2 commented on #3111
STOP. The ConvertToAbsolutePath works correct as it is.
The problem is that NuspecFileAbsolutePath contains a semicolon whereas my "fix" (lol) leads to an empty string.

[2018-03-13 02:54] janni2 commented on #3111
Ok, I got unclear results, at least 2 nupkg files. The main one with nearly zero size, the secondary one with symbols. Then I played around to filter one of both nuspec files and surprisingly taking the second one leads to an acceptable result (= 1 nupkg with .dlls and 1 with ignorable garbage)
[code]
Sadly I didn't find the sourcecode of the PackTask which could explain, what is actually going on

[2018-03-13 02:54] #3111 closed

[2018-03-14 10:58] forki commented on #3075
Unfortunately we did not get a repro yet, but can you pelase retry with 5.150.1?

[2018-03-14 11:16] OsirisTerje opened #3116 "Paket local does not work with new csproj format"
### Description

Given a project using the new csproj format.  When a paket.local file is enabled, pointing one of the dependencies to a local package, the new csproj still uses the non-local package.

### Repro steps

A repro repository is uploaded at https://github.com/KDISim/PaketNewCsProjIssue

The repo consists of two solutions.  Use the solution under source/MyTests/MyTests,sln.
The solution

[2018-03-14 11:17] forki commented on #3116
paket.local is not yet supported for new style projects and we don't have an idea yet how to solve it.

[2018-03-14 11:21] OsirisTerje commented on #3116
What is the underlying issue?
Isn't this handled through the restore targets file?    Or are there some behaviour in the new csproj format that circumvents it?

[2018-03-14 11:22] forki commented on #3116
yes it's the new csproj format. they always draw the package from that global cache folder - and we can't just overwrite that because then other solutions on your PC would also get the modified stuff

[2018-03-14 13:34] OsirisTerje commented on #3116
I tried to move the local package into the global cache folder (under %userprofile%/.nuget), and also tried pointing the paket.local source to the same place there, but it still would not work the new format, so it seems there is more than just the global cache that is blocking this.

[2018-03-14 14:14] matthid commented on #3116
It's probably because we forward all references to NuGet and NuGet is doing something we don't like?

[2018-03-14 14:51] Ravadre opened #3117 "Duplicated library references in 5.151.1"
### Description

After patching Paket to 5.151.1 (from 5.150.0) resolution behavior changed for some reason for package System.Net.Http - it is now referenced through Paket, even though it should not be.

### Repro steps

1. Create .Net Framework 4.6 project.

2. (potentially optional) Make sure, that System.Net.Http is in packet.lock file (as a depedency to something else, for example .NetStandar

[2018-03-14 14:52] forki commented on #3117
this was done in https://github.com/fsprojects/Paket/pull/3107

@0x53A @matthid I knew this would only take couple of hours to pop up

[2018-03-14 15:03] Ravadre commented on #3117
Hi,

I read through conversion in #3107 as it looked relevant. However, I don't get I think the extent of changes based on the conversation. From what I understood from "after" section - it should be ok to have duplicate references (compiler will take higher version - not working in my case) and this should be relevant to people who had referenced .net framework library and then added same referen

[2018-03-14 15:08] forki commented on #3117
ok reverting for now since I have to sign off for today.
@0x53A can you please look at the case? I can then merge again tomorrow

[2018-03-14 15:19] Tarmil commented on #3075
The issue still happens reliably with Paket 5.151.1 and dotnet 2.1.300-preview2-008260. There needs to be at least 4 projects in the solution for it to happen reliably. Having dependencies between them does not actually seem to be a factor.
Here is a minimal repro: https://github.com/Tarmil/repro-paket-3075

`dotnet restore` gives me either one of these two errors:

[code]

or

[code]

It happens

[2018-03-14 15:19] matthid commented on #3117
This is what I meant with it was an active decision to do it as it was before, we just didn't search for the old issue ;)

@Ravadre what errors do you get? Can you post for reference?

[2018-03-14 15:26] Ravadre commented on #3117
I can confirm that with reverted changes (5.151.3) it works fine.

@matthid We noticed the problem on our CI server, where we're running new paket with every build. Problem can be pinpointed to basically System.Net.Http package added to references in csproj (the `choose` section in actual behavior in OP was basically added between what we have after `paket.exe install` with older version (locally)

[2018-03-14 15:36] forki commented on #3075
Thanks. Had to revert that change that I made because it broke others.
Will look into it tomorrow.

[2018-03-14 15:45] Ravadre commented on #3117
@matthid I thought it might be useful anyway :) :

https://github.com/Ravadre/paket-151_1-repro

If you will download paket.exe 5.151.1 with `.paket\paket.bootstrapper.exe 5.151.1` it should fail to build the project.

There are probably smaller number of packages which can trigger this behavior added to paket.dependencies (I took this list from our smallest project which broke on CI) - I cannot d

[2018-03-14 19:46] BlythMeister commented on #2573
This has got me again!
In referenced issue it was suggested to always add it.

I'll investigate how possible that is.

[2018-03-14 20:35] 0x53A commented on #3117
@Ravadre sorry, for breaking you.

Please note that the "old" behavior is really dangerous - you (implicitly) reference the nuget package ``System.Net.Http``, which contains a dll ....

![image](https://user-images.githubusercontent.com/4236651/37428798-aed6ed62-27cd-11e8-9d82-38c06d2ebc15.png)

But that Dll is missing from /bin!

![image](https://user-images.githubusercontent.com/4236651/37428831

[2018-03-14 20:50] Ravadre commented on #3117
Hi @0x53A .

I think that the library is missing from bin, because if it references as a GAC library (the 4.0.0) version. The one that is included by Paket in 5.151.1 version is newer (4.1.XX) and would be put into bin as a package - but what I think matters here is, as you said "implicitly".

An user could implicitly target such problematic library (Net.Http or similar) without knowing it and Pak

[2018-03-14 21:11] 0x53A commented on #3117
It is not related to whether the reference is implicit or explicit. Rather the deciding factor currently is just whether the project file already contains a GAC reference or not (``<Reference Include="System.Net.Http" />``). So you would get the same bug with an explicit reference.

Yes, the "fix" is to remove the GAC-Reference and rerun ``paket install``. Then it will add the correct reference to

[2018-03-14 21:29] Ravadre commented on #3117
Just to clarify - I didn't mean that explicit / implicit would behave differently. I just meant that if I (or more broadly - any user) would explicitly reference the problematic library, I would know in case of compilation error what I did wrong (reference same library through GAC and through Paket), in case of implicit reference - one can be surprised and don't know from where the error came.

Bt

[2018-03-14 21:31] matthid commented on #3117
We either have removing existing references, leave it as is or break (but then a better error message is needed).

It is unlikely that we remember this issue when we decide to release a new major version.

[2018-03-14 21:34] matthid commented on #3117
We can emit an error on `paket install` time.

[2018-03-15 12:01] MiloszKrajewski commented on #3075
dotnet core sdk 2.1.101 does not even honor `--disable-parallel` so I needed to use `global.json` to force use of `2.1.4`

[2018-03-15 12:03] forki commented on #3075
can you guys please try with paket 5.152.0-alpha001

[2018-03-15 12:23] MiloszKrajewski commented on #3075
Seems like `5.152.0-alpha001` works. It does not do parallel though. I just waits for other "pakets" to finish, right?

[2018-03-15 12:25] forki commented on #3075
yes there needs to be finer locks eventually

[2018-03-15 13:05] forki commented on #3075
@MiloszKrajewski ok alpha002 has finer locks and only blocks the obj folder. Still working for you?

[2018-03-15 14:40] tabro opened #3121 "Windows Defender thinks paket 5.151.3 is a trojan"
### Description

I started having issues fetching paket.exe through paket.bootstrapper.exe.
When the bootstrapper tries to fetch paket.exe, windows defender removes the file, and claims that the file contains the trojan "Win32/Critet.BS".

![image](https://user-images.githubusercontent.com/448712/37469988-d20b118e-2866-11e8-8c2f-2df6a5acc976.png)

### Repro steps

Please provide the steps required

[2018-03-15 14:45] eiriktsarpalis commented on #3121
Got exactly the same behaviour just now.

[2018-03-15 14:55] TheAngryByrd commented on #3121
Other people have started seeing this issue: https://forum.kerbalspaceprogram.com/index.php?/topic/172357-trojanwin32critetbs/

Probably need to contact the vendor and tell them it's a false positive.  They're probably using some strings search or a yara rule to match on some bytes that some malware uses but clearly it's too broad of a match.

[2018-03-15 14:56] theimowski commented on #3121
Same happened here

[2018-03-15 14:59] forki commented on #3121
so the "fun" thing is: even I can't download it. I mean that file was created on my machine and defender didn't complain. Now it's complaing on the download.

Anyway: I uploaded the latest alpha to virustotal and they say it's clean
https://www.virustotal.com/de/file/261d82cfe4a7b4f2fbc800f298fa8caf310031a548e146dedb8ee9e2643ff126/analysis/

[2018-03-15 15:03] forki commented on #3121
can someone please test with latest alpha? is that one flagged as well?

[2018-03-15 15:06] eiriktsarpalis commented on #3121
@forki confirming that latest alpha has no issues for me

[2018-03-15 15:07] piotrg18 commented on #3121
same for me latest alpha works fine

[2018-03-15 15:07] forki commented on #3121
wtf!?

[2018-03-15 15:09] forki commented on #3121
I will now push a zero diff release on top of 5.151.3 because the alpha is not ready. hopefully that's enough

[2018-03-15 15:10] richardjharding commented on #3121
I downloaded 5.152.0-alpha002 paket.exe and copied in place - windows was happy with that - before I was seeing the error above from defender

[2018-03-15 15:17] forki commented on #3121
ok 5.151.4 is released. can someone please check?

[2018-03-15 15:19] eiriktsarpalis commented on #3121
Works 👍

[2018-03-15 15:21] forki commented on #3121
lol. So if I'd ever develop a real virus, then all I need to do is adding a comment somewhere to change the hash of the exe!? WTF!

[2018-03-15 15:21] #3121 closed

[2018-03-15 15:41] TheAngryByrd commented on #3121
I uploaded the exact version

5.131.2: https://www.virustotal.com/#/file/aee5a3669124abf0346cd2dcba5e7d539997ab472fb9d33ebda0d94e828bd20f/detection
5.131.3: https://www.virustotal.com/#/file/3be94b622c39d3f18a5ae0a315b1fa08e8224cf7e198d63a81c832c8494e7037/detection

[2018-03-15 17:11] MiloszKrajewski commented on #3075
`alpha003`: There is no perceived performance improvement related to "finer locks", but it works as expected (which is the important part).

[2018-03-15 18:23] matthid commented on #3121
maybe we just had a hash conflict :)

[2018-03-16 09:06] #3075 closed

[2018-03-16 09:21] forki commented on #3121
If someone knows someone from defender team - it would be nice if they coulde look into this.

[2018-03-16 11:10] #2573 closed

[2018-03-16 20:56] TheAngryByrd commented on #3121
Had some contacts get in touch.  This was their response.

[2018-03-16 22:19] halcwb opened #3122 "Can't get dotnet to build using the target framework"
### Description

When using `dotnet build` I keep running into incompatible framework versions that do not target the requested netstandard v2 framework.

### Repro steps

Please provide the steps required to reproduce the problem

1. Use this dependency file:

[code]

2. Use these references in a dotnet F# console or classlib project.

3. Run the `paket install` and `dotnet build` commands

### E

[2018-03-17 08:47] forki commented on #3122
This are nuget warnings. Are you sure it's a paket issue?

Casper <notifications@github.com> schrieb am Fr., 16. März 2018, 23:19:

[2018-03-17 08:57] halcwb commented on #3122
You're right, I am not sure were this problem lies. But I was thinking that it is Paket that is fetching the packages? So, when I look at the references of the packages, this is what I see:

So, the MathNet.Numerics package is correct, but not the FSharp.Data and FSharpComposableQuery packages.

[2018-03-17 09:00] forki commented on #3122
What do you mean they are not correct?

Casper <notifications@github.com> schrieb am Sa., 17. März 2018, 09:57:

[2018-03-17 09:07] forki commented on #3122
Can you please upload a zip with detailed repro? I have trouble to understand your issue.

Also please try without auto detect

[2018-03-17 09:13] halcwb commented on #3122
With 'not correct' I mean that FSharp.Data.dll is targeted at the net45 framework, not the required netstandard2.0:

@"/Users/hal/.nuget/packages/fsharp.data/2.4.5/lib/**net45**/FSharp.Data.dll"
#r @"/Users/hal/.nuget/packages/fsharpcomposablequery/1.0.4-beta/lib/**net40**/FSharpComposableQuery.dll"
#r @"/Users/hal/.nuget/packages/mathnet.numerics.fsharp/4.4.0/lib/**netstandard2.0**/MathNet.Numeri

[2018-03-17 09:17] forki commented on #3122
Well, target framework selection in dotnet build is done by nuget. Paket is
only telling it package name and package version

Casper <notifications@github.com> schrieb am Sa., 17. März 2018, 10:13:

[2018-03-17 09:19] halcwb commented on #3122
I am going to put my blame on dotnet build then ;-)

This is the project I am referring to: http://github.com/halcwb/GenForm.git.

[2018-03-17 09:23] halcwb commented on #3122
Ok, sorry for wasting your time, but I was assume (mother of all f.. ups) that FSharp.Data would have a netcore version, but this is not the case. My mistake.

[2018-03-17 09:23] #3122 closed

[2018-03-17 09:28] forki commented on #3122
Don't worry it's confusing message. They should improve that

Casper <notifications@github.com> schrieb am Sa., 17. März 2018, 10:23:

[2018-03-17 21:01] jackmott opened #3123 "Paket restore hangs when used with docker build"
### Description

paket restore hangs on my project when used in a docker build. It runs very quickly when I run it outside of a docker build.  While hung the mono process is pegging 1 core. The last output of paket restore --verbose is "parsing paket.dependencies"

### Repro steps

paket.dependencies:
[code]

Dockerfile:
[code]
I am running docker build with a private github repo as the context

T

[2018-03-17 21:08] forki commented on #3123
Yeah it's a long known issue. We have no idea what it's causing.

Jack Mott <notifications@github.com> schrieb am Sa., 17. März 2018, 22:01:

[2018-03-17 22:11] jackmott commented on #3123
@forki any workarounds?

[2018-03-18 07:12] forki commented on #3123
Nope. I think it's a mono bug.

Jack Mott <notifications@github.com> schrieb am Sa., 17. März 2018, 23:11:

[2018-03-18 08:21] matthid commented on #3123
As long as we don’t know how to reproduce or ge it into a debugger be accident. There is not much we can do.
Maybe some http request doesn’t timeout correctly. Or some user message pops up on the ci for some reason...

[2018-03-18 13:27] haf opened #3124 "Env-vars are not lowercase"
[code]

[2018-03-18 14:01] matthid commented on #3124
https://github.com/fsprojects/Paket/blob/23608e3ca3b8faeebe57a0de2c5c38b2e1f14462/src/Paket.Core/PublicAPI.fs#L731-L740

[2018-03-18 16:00] haf commented on #3124
Ok, old version then. Thx.

[2018-03-18 16:00] #3124 closed

[2018-03-20 13:54] baronfel commented on #2919
I saw this today and thought it might be relevant to the discussion: https://github.com/tonerdo/dotget

[2018-03-21 13:36] skalinets opened #3126 "Paket is very slow with ASP.NET Core 2"
### Description

Performance is suboptimal when paket is used with ASP.NET Core 2. Just wondering if that is because of microsoft.aspnetcore.all metapackage or issue is the same as in #2827?

### Repro steps

1. `dotnet new webapi`

2. download paket.exe (ver  5.153.0), save it to `./paket` directory

3. `.\.paket\paket.exe convert-from-nuget`  takes ~ 5 minutes

4. `.\.paket\paket.exe update`  ta

[2018-03-21 15:43] cboudereau opened #3127 "symbolic link storage option support"
### Description

In order to reduce time + disk space of the packages folder, an option storage: symlink could link the nuget cache dir to the package folder (inside the packages folder).

I have done the dev in my fork and I am building integration test (I need an issue number to name scenarios).

[2018-03-21 15:43] cboudereau commented on #3127
Could you assign me the issue please ?

[2018-03-21 17:28] matthid commented on #3127
thanks for looking into that :)

[2018-03-21 17:29] matthid commented on #3127
Just a word of warning: Keep in mind that we have not done this yet because a lot of devils lie in the details (xplat for example is one of those devils ;) )

[2018-03-21 20:16] CumpsD commented on #848
Small reaction to this old issue, the table from https://github.com/fsprojects/Paket/issues/848#issuecomment-109312241 would actually make a nice summary to the docs as an overview

[2018-03-22 07:58] forki commented on #848
@CumpsD PRs very welcome!

[2018-03-23 18:29] matthid opened #3129 "Referencing local NuGet Sources with a space in path"
### Description

There is currently no way to reference a local nuget source with a space in path like `C:\My directory\NuGet` or `C:\Program Files\dotnet\sdk\NuGetFallbackFolder`

[code]

[code]

### Error

[code]

### Expected behavior

One of the versions should work

### Actual behavior

Nothing works

### Known workarounds

Use short folder paths, as given via https://stackoverflow.com/a/2178

[2018-03-23 18:48] matthid opened #3130 "Paket is not telling the truth: "The package can't be found" in local nuget source"
### Description

I think we have a parsing bug when using a local nuget source and some long package names (or maybe we cannot parse this particular package name). Paket tells me:
[code]

But my local nuget source looks like this:
![image](https://user-images.githubusercontent.com/1866463/37847768-3d2f06a2-2ed2-11e8-8c5b-5173206b0226.png)

Therefore paket is straight up lying to me and doesn't tel

[2018-03-25 09:20] halcwb opened #3132 "Running paket install fails?"
### Description

Clone my repository https://github.com/halcwb/GenForm.git. Run `mono .paket/paket.exe install` And you get:

### Repro steps

Please provide the steps required to reproduce the problem

1. See above

If possible then please create a git repository with a repro sample or attach a zip to the issue.

Install of packages

Please provide a description of the behavior you expect.

See a

[2018-03-25 11:31] matthid commented on #3132
Have you tried updating your bootstrapper since
- https://github.com/fsprojects/Paket/pull/3066
- https://github.com/fsprojects/Paket/issues/3068

?

[2018-03-26 06:59] forki commented on #3130
are you going to fix it?

[2018-03-26 08:00] M0ns1gn0r opened #3133 ""exclude" doesn't work with new csproj format"
### Description

I am converting one of my test projects to the new csproj format. The project references `XUnit` and an optional package `XUnit.Assert.Source` which adds source files of the assertion library to the project structure. I have to remove the transitive dependency `Xunit.Assert` which includes the compiled version of the same assertions so that no conflicts occur. This worked well for

[2018-03-26 09:24] #3133 closed

[2018-03-26 09:37] forki commented on #3132
also mono updated?

[2018-03-26 19:17] punker76 commented on #3091
@forki [Here is](https://github.com/punker76/PaketMultiTargetingTest) a simple sample which shows this issue (error NU1202). A package should only be added in a higher framework, but it will be also added to the other ones:

VS 2017 15.6.4
R# 2017.3.5
Paket 5.153.2

The `MaterialDesignThemes` package should only be add for >= .NET45

[code]

Bu the `PaketMultiTargetingTest.csproj.net40.paket.resol

[2018-03-26 21:31] halcwb commented on #3132
@forki  Indeed it seemed that particular machine had an outdated mono version. I already had tried using the lates bootstrapper in 'magic mode'. But it was the mono framework.

Thanks!

[2018-03-26 21:31] #3132 closed

[2018-03-27 06:36] #3091 closed

[2018-03-28 11:57] tebeco opened #3135 "paket outdated --silent is not silent"
### Description And Repro

Create a `paket.dependencies` + `paket.lock` containing outdated stuff
for example `Newtonsoft.Json 10.x` in lock file and no constraints in `paket.dependencies`

run `paket outdated -s`
run `paket outdated `

It actually write the SAME thing except the `performance block`

[code]

### Expected behavior

I have no idea because i don't really know what `silent` actually m

[2018-03-28 11:58] forki commented on #3135
/cc @agross

[2018-03-28 11:59] tebeco commented on #3135
you're too fast man ;) (and that's amazing)

[2018-03-28 12:06] tebeco opened #3136 "Parsable format for paket outdated"
### Description

We are trying to integrate `paket outdated` in the CI, so i wonder if there's a way to have a `Json` or `YAML` ouput that could be easier to parse than the actual text in the console
Or even redirected to a file

`paket outdated --format json` <== redirected to sdtout
`paket outdated --format json --output toto.json` <== redirected to stdout + file
`paket outdated --format json --

[2018-03-28 12:07] agross commented on #3135
Does it makes sense to run `paket outdated` in silent mode? I only use it interactively.

One use-case might be to run `paket outdated -s || paket update` to perform a scripted update only when there is outdated stuff in the lockfile.

[2018-03-28 12:09] tebeco commented on #3135
@agross
it could make sense with this : https://github.com/fsprojects/Paket/issues/3136

We use it on nightly + a Board that does reporting for all our ~180 repos
So it kinda make sense in this specific use case

[2018-03-28 12:15] agross commented on #3135
Yep, I agree. So `-s` should make the `outdated` command silent and `exit 1` accordingly.

[2018-03-28 20:05] JohanLarsson opened #3137 "Paket restore does not work for solution with analyzers VS 15.6.4"
1. Clone https://ci.appveyor.com/project/JohanLarsson/gu-wpf-adorners
2. Build

[code]

### Known workarounds

Close VS and build with commandline or run a paket restore. After that building in VS works fine.

[2018-03-28 22:50] dunefox opened #3138 "Build.cmd fails (on Win10)"
### Description

I downloaded the repository and executed build.cmd on Windows 10 in Powershell - which fails. Nothing more was done.

### Repro steps

Please provide the steps required to reproduce the problem

1. Step A Download and clone.

2. Step B Run build.cmd on Windows 10 in Powershell.

### Expected behavior

I would expect build.cmd to finish without errors.

### Actual behavior

Here is

[2018-03-28 22:56] dunefox commented on #3138
I, uh... posted this in the wrong place. Sorry.

[2018-03-29 04:56] forki commented on #3138
Can you please try cloning to a different path? Ideally with some more
rights and no spaces.

dunefox <notifications@github.com> schrieb am Do., 29. März 2018, 00:56:

[2018-03-29 06:08] JohanLarsson commented on #3137
Closing this as it is probably a VS bug.

[2018-03-29 06:08] #3137 closed

[2018-03-29 08:19] cboudereau commented on #3127
done #3128

[2018-03-29 08:19] #3127 closed

[2018-03-29 15:43] dunefox commented on #3138
I cloned it into users\my_name\documents\scaffold and ran build.cmd with cmd and powershell, both with admin rights, and I get the same error. I have no idea why access is being denied. Everything else works just fine.

[2018-03-29 15:58] nozzlegear opened #3139 "The "ResolveAssemblyReference" task failed unexpectedly"
### Description

Hello, I've been struggling with this problem for an hour and can't figure out what the issue is. I'm trying to add the [Davenport 3.0.2-beta1](https://www.nuget.org/packages/Davenport/3.0.2-beta1) package to my F# project with Paket. The package will install and restore fine, but running `dotnet build` will throw the error below. However, this only happens when I'm using Paket. I

[2018-03-31 09:46] dunefox commented on #3138
I solved it, the issue was unrelated to build.cmd.

[2018-03-31 09:46] #3138 closed

[2018-03-31 20:07] Zaid-Ajaj opened #3140 "Paket 5.155.0 adds the package to the wrong group"
### Description

Paket adds the package to the wrong group

`paket.dependencies` Before:
[code]
Now run:
[code]
Logs
[code]
Package is added to the `Build` group, `paket.dependencies` after:
[code]

### Expected behavior
Expected paket to add the package to the correct group
### Actual behavior
Paket instead adds the package to the build group.

### Known workarounds
None

paket.lock becomes:
[cod

[2018-04-02 18:13] TheAngryByrd commented on #3140
+1 I've experienced this as well

[2018-04-04 13:02] inosik commented on #3140
It works as expected when `dotnet-fable` is removed.

`clitool` references seem to break something, this example reproduces the bug:

[code]

[code]

[2018-04-04 17:44] TheAngryByrd commented on #2448
I've ran into this warning referencing https://www.nuget.org/packages/YoloDev.Expecto.TestSdk/

[code]

This issue discusses the warning a bit more https://github.com/dotnet/cli/issues/5346#issue-201118111

[2018-04-05 04:16] reginaldlouis opened #3141 "How to handle git/github dependencies project who use nuget internally"
Some projects that I add in `packet.dependencies` also have assemblies dependencies, but they use NuGet (for example `JSON-RPC.NET` need `Newtonsoft.Json` specified in `packages.config`).

So when I manually add `JSON-RPC.NET` as a project dependency in my application from Visual Studio, it doesn't compile because `Newtonsoft.Json` is not fetch.

Is their a way that packet can restore 'normal' nug

[2018-04-05 09:08] inosik commented on #3139
Paket resolves slightly different dependencies, namely these:

| Package | Paket Version | `<PackageReference />` Version |
|---|---|---|
| FSharp.Core | 4.3.4 | 4.2.3 |
| Microsoft.FSharpLu.Json | 0.10.4 | 0.10.3 |

Microsoft.FSharpLu.Json 0.10.4 seems to be broken somehow. If I set the version to 0.10.3 in `paket.lock` and do `paket restore; dotnet restore; dotnet build`, it builds fine.

[2018-04-06 12:27] bruinbrown opened #3142 "Using a local folder for NuGet packages with a NuGet API causes packages to only restore from NuGet API"
### Description

I have a .Net core application with 2 package sources, a local folder on the file system and the NuGet API feed. The local folder on the file system has a modified version of Saturn with the same version number as the version of Saturn available on NuGet. Running ``mono .paket/paket.exe update`` does not take the package from the local file system

### Repro steps

1. Create a fol

[2018-04-06 15:14] ruhullahshah opened #3143 "Framework restriction violated in paket.dependencies for System.Collections.Immutable"
### Description

Setting `framework` to `auto-detect` or `net45` still doesn't stop Paket from downloading `NETStandard.Library` for `Systems.Collections.Immutable`

PFA `paket.dependencies` & `paket.lock` files for the same.

### Expected behavior

`packages`  dir. should only contain Systems.Collections.Immutable

### Actual behavior

`packages`  dir. contains `Systems.Collections.Immutable`, `N

[2018-04-06 16:11] ruhullahshah commented on #3143
In case this helps, we verified the behavior with Paket-4.8.4 and this version works as expected. This was the previous version we were using.

[2018-04-06 19:43] jbaehr commented on #2973
Please note that the nuget v3 API is not yet supported by Artifactory (see https://www.jfrog.com/jira/browse/RTFACT-6830 open since sept. 2014). So please, don't make the v3-api mandatory. Else we couldn't use paket in our enterprise environment any more.

[2018-04-06 20:07] forki commented on #2973
We won't make v3 mandatory. Ever.

jbaehr <notifications@github.com> schrieb am Fr., 6. Apr. 2018, 20:43:

[2018-04-07 07:27] matthid commented on #2973
Yes we don’t, but as this is only an annoyance - providing a tested PR is the fast way to get this fixed

[2018-04-07 10:35] bruinbrown commented on #3142
I think I've discovered the cause of this issue and why Paket was ignoring the second source. I was adding the local folder as a file:///Users/anthony/..., I've since changed it to use /Users/anthony/... and that now seems to be working

[2018-04-07 20:25] jbaehr commented on #3143
The main problem arises when the not-required packages are unavailable (corporate network, internal nuget-server, manual license verification, etc.). With paket-4.8.4 it just worked, but paket-5 fails because packages that no one needs are not available. And we're talking about a lot of packages; in the minimal example vanilla nuget downloads 2.7MB vs. 273MB that paket downloads.

Before we can th

[2018-04-07 20:47] matthid commented on #3143
Usually, paket will just follow all dependencies constrained by the dependency groups, but you already are constraining via `framework net45`.
This means paket only needs to follow the one dependency group that fits "best" to `net45`.
In `Systems.Collections.Immutable` there are:
 - `netcoreapp2.0`
 - `netstandard1.0`
 - `netstandard2.0`
 - `portable-net45+win8+wp8+wpa81` (Shown as Portable Class

[2018-04-08 20:08] matthid opened #3144 "Could not find nuspec in ... on paket update"
### Description

When I run `paket.exe update` in the Paket repository I get:

[code]

<details><summary markdown="span">Click for verbose stack</summary>

[code]

</details>

### Repro steps

1. git clone https://github.com/fsprojects/Paket.git

2. cd Paket

3. .paket/paket.exe update

### Expected behavior

Works

### Actual behavior

Error from above

### Known workarounds

As paket has already

[2018-04-09 06:41] forki commented on #3144
![image](https://user-images.githubusercontent.com/57396/38482997-a74d0b72-3bd1-11e8-87fa-468b3f82f97a.png)

wtf happened? we have 3 folders for XmlDocument

[2018-04-09 07:05] matthid commented on #3144
maybe not I assumed it would because I tried deleting stuff...

[2018-04-09 07:07] forki commented on #3144
try nuking packages folder and run update again. does it work?

[2018-04-09 07:39] matthid commented on #3144
For me it didn't.

On Mon, Apr 9, 2018 at 9:07 AM, Steffen Forkmann <notifications@github.com>
wrote:

[2018-04-09 09:42] inosik commented on #3140
Actually this isn't really specific to `clitool` refs. The code inside of [`DependenciesFile.AddAdditionalPackage`][method] that tries to find the right position where to insert the new line is buggy. Specifically, we [just append][code-line] the line for the new package to all the other text-lines of the original dependencies file, because we can't find a position where to insert it.

  [method]:

[2018-04-09 14:16] ruhullahshah commented on #3143
Thanks for the clarification. We are evaluating alternatives mentioned above.

[2018-04-09 14:16] #3143 closed

[2018-04-10 12:38] pmiossec commented on #2982
I stopped to look at it because never succeed to reproduce on a simpler project (and circumvent it by a manual fix).

Thanks for the time invested

[2018-04-10 12:38] #2982 closed

[2018-04-10 19:30] ricalosada opened #3147 "Image files with content"
Description

I have a framework project that used by others projects.
In this framework, there are image files with content properties (jpg and png).
The properties are:
- Build Action: Content
- Copy to Output Directory: Copy Always

This is my paket.template:

type project

include-referenced-projects true

files
        Release/Core.Reports.dll ==> lib/net46
	Images/*.* ==> content/Images

In o

[2018-04-11 15:16] jafz opened #3148 "paket.dependencies download_license does not work"
### Description
https://fsprojects.github.io/Paket/dependencies-file.html#License-download describes how to make paket download the licenses for nuget packages.
However, paket does not seem to understand that configuration setting.

### Repro steps
This is in my paket.dependencies file:
`source https://api.nuget.org/v3/index.json
download_license: true
nuget Automapper`

when I run '.paket\paket.e

[2018-04-11 16:31] teo-tsirpanis opened #3149 "Use v3 NuGet URL on paket init templates"
[The v2 URL is deprecated](https://docs.microsoft.com/en-us/nuget/policies/nuget-faq).

[2018-04-11 17:37] tebeco opened #3150 "paket install might not support nuget with different constraints on multiple target"
### Description

Resolving a multi targeted nuget might not resolve the good target

### Repro steps

* clone [this repo](https://github.com/tebeco/ReproPaketBugPackageMultiTarget)
* run `ReproIssue.cmd` (sorry i am mixing cmd / shell, using git scm this is bad and i feel bad ^^)

### Expected behavior

the `cat "SomeConsumer/obj/project.assets.json" | grep "Newtonsoft.Json/10.0.1"`
should have ma

[2018-04-12 12:46] tebeco opened #3151 "Paket convert-from-nuget crash on nuget syntax"
### Description

paket does not read nuget constraints before parsing SemVer

### Repro steps

1. Create a project
2. Add a package
[code]
3. Run `dotnet restore`
4. It works
5. `paket convert-form-nuget --force`
bang

### Expected behavior

Read nuget constraints syntax

### Actual behavior

Crash on convert

### Known workarounds

None

---
![image](https://user-images.githubusercontent.com/2266

[2018-04-12 15:12] Thorium opened #3152 "Paket GitHub references when file location is modified"
GitHub repository maintainers tend to move the file locations and branches:

- Current master comes version-04-legacy
- Some referenced file location is moved from the e.g. root folder to e.g. bin folder

Now, when you run paket `restore` and `install`, it works, but `outdated` and `update` script will fail totally. This is very annoying when you have 30 GitHub references and would like to update

[2018-04-13 01:59] nozzlegear commented on #3139
Thanks for looking into this! Just to be clear, should I open an issue with the Microsoft.FsharpLu.Json repo, or is this something that paket should be able to work around?

[2018-04-13 05:34] forki commented on #3139
yes you should notify the project and you can use [min strategy](https://fsprojects.github.io/Paket/nuget-dependencies.html#The-modifier-1) to have similar resolution like nuget.

[2018-04-13 05:34] #3139 closed

[2018-04-13 06:31] forki commented on #3148
would appreciate a PR

[2018-04-13 06:42] #3151 closed

[2018-04-13 06:49] tebeco commented on #3151
Awesome thx

[2018-04-13 10:44] NullVoxPopuli opened #3153 "Can't bootstrap paket on travis-ci's ubuntu?"
### Description

I'm trying to run a dotnet core project on travis.
### Repro steps

https://travis-ci.org/NullVoxPopuli/CryptoExchangeClient/builds/366045372

my init script:
[code]

https://github.com/NullVoxPopuli/CryptoExchangeClient/commit/5716c25788b8c0c24ec25ab0c9f4d2ce9d367488

### Expected behavior

Paket to be bootstrapped

### Actual behavior

error: https://travis-ci.org/NullVoxPopuli/

[2018-04-13 10:45] forki commented on #3153
You need to install mono

L. Preston Sego III <notifications@github.com> schrieb am Fr., 13. Apr.
2018, 12:44:

[2018-04-13 11:15] NullVoxPopuli commented on #3153
really? I thought this worked with dotnet core's cli?

[2018-04-13 11:16] forki commented on #3153
yes but it calls into paket.exe which is still a .NET tool so you still need mono. But this will be gone eventually

[2018-04-13 11:25] #3153 closed

[2018-04-15 12:36] nightroman opened #3154 "`copy_local: false` has no effect (at least with .NET SDK)"
`copy_local: false` has no effect (at least with "new style" .NET SDK projects, I remember it used to work some long time ago with "old style" .NET Framework projects).

**Environments and steps**

- paket info ~ Paket version 5.156.1
- dotnet --version ~ 2.1.104

In a new empty directory, create a new F# project

    dotnet new classlib -lang f#

Edit the project file and replace `netstandard2.0`

[2018-04-15 14:52] KoenigLear opened #3155 "Loop when restoring Fsharp.core 4.3.4 for .net 461 project"
### Description

When restoring a fsharp console project paket goes beserk

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>net461</TargetFramework>
  </PropertyGroup>
  <ItemGroup>
    <ProjectReference Include="fsTest.fsproj">
      <Name>fsTest.fsproj</Name>
    </ProjectReference>
  </ItemGroup>
  <ItemGroup>
    <Compile Include="fsTes

[2018-04-15 15:56] forki commented on #3154
What should it do?

Roman Kuzmin <notifications@github.com> schrieb am So., 15. Apr. 2018,
14:36:

[2018-04-15 17:58] nightroman commented on #3154
If there is such a way then it should result in assemblies not copied to the output directory during build.

If there is no such a way *known* (is it what the question means?) it would be nice to mention this fact about `copy_local` behaviour in .NET SDK projects.

[2018-04-15 18:10] nightroman commented on #3154
I am not suggesting this but one possible way is to add assembly references in
the old fashioned way to projects if `copy_local: false`. Just in order to be
able to set their `Private` to false. Yes, this will make projects less "clean"
but avoiding redundant copies in several projects in a large solution may be
important.

[2018-04-15 20:03] haf opened #3156 "Paket cannot download semver2 nuget"
https://github.com/haf/paket-semver2-repro

[code]

Output

[code]

[2018-04-16 05:54] forki commented on #3154
The question is: does PackageReferences have a corresponding attribute. If
not we need to feature request it.

Roman Kuzmin <notifications@github.com> schrieb am So., 15. Apr. 2018,
20:10:

[2018-04-16 06:20] haf opened #3157 "Verbose only logs list-packages requests, not details-of-package requests"
Example:

[code]

If in verbose mode, Paket should log verbosely; had it logged verbosely I could try the request in curl to see what it fails on.

[2018-04-16 06:24] haf opened #3158 "Username/password may be UTF8"
From just reading some code trying to find #3157 's reason, I found this bug:

https://github.com/fsprojects/Paket/blob/0e586913302fed0fb88bdba6626fd046d43a3aa9/src/Paket.Core/Common/NetUtils.fs#L360

https://github.com/fsprojects/Paket/blob/0e586913302fed0fb88bdba6626fd046d43a3aa9/src/Paket.Core/Common/NetUtils.fs#L397

It should use utf8, not ascii.

[2018-04-16 09:36] forki commented on #3155
can you please upload that test project? Also error NU1108: Cycle detected.`error NU1108: Cycle detected.` that's a NuGet error message.

[2018-04-16 10:11] nightroman commented on #3154
According to https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files `ExcludeAssets` with `runtime` should do the trick

[code]

[2018-04-16 11:35] forki commented on #3156
![image](https://user-images.githubusercontent.com/57396/38806849-eccb310c-417a-11e8-92ca-212747de724e.png)

so given your sample the resolver seems to work fine, but NuGet API doesn't give us details for these versions.

[2018-04-16 11:36] nightroman commented on #3154
TIL Yes, this does the trick. Thus, one "workaround" is using native .net sdk packaging instead of paket...

[2018-04-16 20:47] haf commented on #3156
Your screenshot shows the resolver failing and resolving the old version.

Why can I install it with nuget in rider if there's no info given from the API?

[2018-04-17 06:30] haf commented on #3156
No, I'm not sure "resolver" is its name. Perhaps the resolver is what
finds the versions and warns about missing details for them in the first
place.

Maarten is probably a good person to ask, perhaps you can ask
internally, Maarten?

Is there something I can do to work around this?

Regards,
Henrik

On 17 Apr 2018, at 6:18, Steffen Forkmann wrote:

[2018-04-17 06:41] maartenba commented on #3156
Ask internally? I have left Microsoft two years ago :-)

[2018-04-17 06:43] haf commented on #3156
I thought you were doing Dev Advocacy at JetBrains? Rider is what I'm
talking about ;)

On 17 Apr 2018, at 8:41, Maarten Balliauw wrote:

[2018-04-17 06:56] forki commented on #3156
https://api.nuget.org/v3/registration3/logary/index.json doesn't show the beta versions.

(I have a fallback to v3 working locally. But it's still an nuget server issue)

[2018-04-17 07:45] #3154 closed

[2018-04-17 07:47] forki commented on #3154
can you please try? But you have to update the Paket.restore.targets file

[2018-04-17 08:44] forki commented on #3154
urgs that didn't work

[2018-04-17 08:49] forki commented on #3154
deploying another version.

[2018-04-17 09:42] matthid commented on #3156
@forki Actually it was by design that v3 did not fallback to v2. This is because users can change their URL manually and it just hides bugs ;)

[2018-04-17 09:46] forki commented on #3156
that wasn't a good design. ;-)

[2018-04-17 09:47] forki commented on #3156
in all seriousness: I wish I had a better idea. but this is broken and hurts people

[2018-04-17 10:57] matthid commented on #3156
It uncovered this issue and we really need to fix the root cause and not fallback to v2...

[2018-04-17 11:10] forki commented on #3156
"we" can't. If I understand it correctly. And I'm happy to remove the
fallback when nuget fixed their feed.

Matthias Dittrich <notifications@github.com> schrieb am Di., 17. Apr. 2018,
12:57:

[2018-04-17 15:37] forki commented on #3156
The problem is that it affects all logary users

Matthias Dittrich <notifications@github.com> schrieb am Di., 17. Apr. 2018,
17:33:

[2018-04-17 15:39] matthid commented on #3156
Well only beta users. And honestly you should expect things to break in beta.

[2018-04-17 15:45] forki commented on #3156
Well, I don't expect my package manager to break.

Anyway can we summon someone from the nuget team? Any ideas?

Matthias Dittrich <notifications@github.com> schrieb am Di., 17. Apr. 2018,
17:39:

[2018-04-17 16:12] matthid commented on #3156
![image](https://user-images.githubusercontent.com/1866463/38882591-ce29dcee-426a-11e8-866a-6e971a837b96.png)

`RegistrationsBaseUrl/3.0.0-rc` is what we currently use

[2018-04-17 16:16] matthid commented on #3156
I think the fix would be to prefer the `/3.6.0` entry if it exists and fallback to what we use now. From my quick tests it looks like the APIs behave the same (at least in postman)

[2018-04-17 16:44] haf commented on #3156
@matthid No I can't put v2, because then I'm not forwards compatible. I want my repo to be up to date with best practises, so I want to use the latest for everything. Also, I'm not letting users deal with this. It affects *all* semver2 nugets, so arguably paket is horribly broken for this use-case.

[2018-04-17 17:24] matthid commented on #3156
You could have easily released a non-semver2 version as well.

[2018-04-17 17:27] matthid commented on #3156
Really all I'm trying to say is that there was not really a reason to rush into a workaround release. Though I agree that this is kind of a critical bug (and I was shocked when you reported it)

[2018-04-17 18:14] maartenba commented on #3156
They are the same indeed, just the 3.6.0 version has SemVer 2 packages, the other one does not. NuGet client uses the fallback as well, I believe. Older NuGet.exe and derivatives use the non-SemVer2 version.

[2018-04-18 13:37] NullVoxPopuli opened #3160 "`dotnet pack` throws error"
### Description

getting this error:
[code]

but,
[code]

Please provide a succinct description of your issue.

### Repro steps

clone https://github.com/NullVoxPopuli/CryptoExchangeClient
commit at time of creating this issue: 7c02e6d15f9a2400eacdc736ad4c21c47aa0bcb9

run:
[code]
(alias for clean, build, release, should fail on the `dotnet pack` step)

### Expected behavior

nuget package to be p

[2018-04-19 13:04] #3148 closed

[2018-04-21 21:15] JohanLarsson opened #3162 "Excluding file means it is not copied by explicit instruction"
### Description

I'm trying a hybrid approach using `type project` to enable metadata in csproj but copying files manually.
An alternative solution that could be nice is if there was an option to override package directory. In the example below it would be `analyzers/dotnet/cs` and not `lib/netstandard1.3`
Maybe:
`package_directory: analyzers/dotnet/cs` in the template file.

### Repro steps

[cod

[2018-04-21 22:30] JohanLarsson commented on #3162
Found `<BuildOutputTargetFolder>analyzers\dotnet\cs</BuildOutputTargetFolder>`

[2018-04-21 23:26] JohanLarsson commented on #3162
There is also `<AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>`

[2018-04-22 10:01] JohanLarsson opened #3163 "API for adding binaries from packages when packing"
When packing analyzers I think the idea is that binaries from nuget dependencies are supposed to go into the analyzer package.

It can be solved via:
[code]

And:
[code]

Probably not worth it to add paket.template API for this but asking any way. Maybe something like:
[code]

[2018-04-22 10:09] JohanLarsson opened #3164 "Paket pack should work with BuildOutputTargetFolder and AppendTargetFrameworkToOutputPath"
### Description

Please provide a succinct description of your issue.

### Repro steps

[code]

Repro [here](https://github.com/GuOrg/Gu.Localization/commit/43f4992fdc1c84f0bd0164b426e6c0549859d1d3)

### Expected behavior

Paket pack should figure out how to pack the project.

### Actual behavior

Bunch of issues.

### Known workarounds
 1. Hack copying the output to where paket looks for it.
[cod

[2018-04-22 12:36] baronfel commented on #3163
This would be useful for type providers as well. Right now we have to use a file type template and do lots of manual placement

[2018-04-24 13:16] matthid opened #3166 "paket install is never a noop when clitool is in the group"
### Description

Usually paket install will only change the lockfile when it detects relevant changes/
When the group contains a clitool then it will always start the resolver

[2018-04-25 09:13] sanderaernouts opened #3167 "Paket sometimes logs "could not detect any platforms for ..." as error to console causing CI builds to fail"
### Description
I'm experiencing an issue with a the Antrl.Runtime package but it seems to only happen in a specific repository. When you run paket restore and the package is not in the cache you get the message:
![image](https://user-images.githubusercontent.com/6184673/39234926-dd9c21c2-4874-11e8-8ce3-e331e80d8e4b.png)

This message is treated as error whereas I would expect it to be a warning.

[2018-04-25 11:12] #3164 closed

[2018-04-26 07:46] JohanLarsson opened #3168 "Packing new csproj with TargetFramework adds dependencies to metadata root."
[code]

and paket.template
[code]

Packs a package with metadata like this:

[code]

I don't know if this is correct but I have trouble installing it.

**Workaround**

`paket.template`
[code]

Note that I'm not sure what is the correct here.

[2018-04-26 14:26] pchinery opened #3170 "Pack: files with space will contain %20 inside the nupkg"
### Description

Files with space will contain %20 inside the nupkg. It does not seem to matter if the files are included specifically or through wildcards/globbing.

### Repro steps

1. Clone https://github.com/pchinery/paket-bugreport/tree/master

2. Run `paket pack .`

### Expected behavior
The file `test with space.txt` should be in the tools folder of the package.

### Actual behavior

The fi

[2018-04-26 14:43] pchinery commented on #3170
I started digging in the project and a good candidate for the root is `createRelativePath`, but it is used in quite a few places and I am still trying to get some orientation in the project ;-)

[2018-04-26 14:48] matthid commented on #3170
afaik this is by design and nuget is/was doing the same, do you have an issue with that?

[2018-04-26 15:18] pchinery commented on #3170
ok, I am quite surprized. Do you know if this will be decoded to spaces again when extracted with Paket/NuGet? If yes, then I can close this again and sorry for bothering you ;-)

[2018-04-26 15:38] matthid commented on #3170
Yes at least that's the idea. That's why I asked if you encountered any errors with this.

[2018-04-26 15:40] pchinery commented on #3170
No, I just came across this and it kept the %20 even after extracting the files, but in restrospect, I found that I extracted them with a regular ZIP tool.

[2018-04-26 15:40] #3170 closed

[2018-04-26 15:50] matthid commented on #3170
Welcome to NuGet world where everything is magic, even extracting a zip file.

[2018-04-27 05:15] JohanLarsson commented on #3168
I think I'm wrong here.

[2018-04-27 05:15] #3168 closed

[2018-04-27 07:25] halcwb opened #3171 "main.group.fsx doesn't include ref to netstandard.dll"
### Description

In VS2017 I use the reference script generated by Paket to load the necessary references to run in my script files. However, it seems that a reference to netstandard.dll is missing.

### Repro steps

Please provide the steps required to reproduce the problem

1. Create an F# project

2. Add some references

3. Create a script file

4. Use the `.paket\load\netstandard2.0\main.group

[2018-04-28 07:20] Szer opened #3172 "Inifinite resolution of Azure Function Host (v2) dependencies"
### Description

There is a [famous issue](https://github.com/Azure/azure-functions-host/issues/992) with binding redirects in Azure Functions. So I've tried to create a .lock file for Azure Function Host to help everyone check their packages against all the restrictions.
(Added: this is for runtime v2)

I took Host dependencices from [here](https://github.com/Azure/azure-functions-host/blob/maste

[2018-04-28 07:25] forki commented on #3172
Yes, but isn't that exactly the point? Detecting conflicts in the
definition? I actually think it's correct. I noticed that azure functions
issue as well one day.

BTW we created the "external_lock" feature exactly for azure functions.
Unfortunately the official lock file from azure functions is only for
runtime v1

Szer <notifications@github.com> schrieb am Sa., 28. Apr. 2018, 09:20:

[2018-04-28 07:30] Szer commented on #3172
Unfortunately the official lock file from azure functions is only for runtime v1

That's exactly what I want to do: create lock file for v2 :)

But AFAIK azure-function-host is OK with these dependencies no matter the conflicts.
So you tell it is impossible to create lock file for v2 host?

[2018-04-28 07:45] forki commented on #3172
Well we need to understand the problem deeply and see if they really have a
conflict. Then we'd need to tell them. V2 is not released. Things can be
fixed.

Szer <notifications@github.com> schrieb am Sa., 28. Apr. 2018, 09:30:

[2018-04-28 07:49] Szer commented on #3172
They will, but I think it will take a long time to release it, but V2 already much better than V1 in terms of "dependency-hell" so a lot developers already uses it in production.

So I think it is a noble goal to provide a sane paket.lock file which will change accordingly with V2 host

[2018-04-28 08:47] forki commented on #3172
Yes I use it too. But not with external_lock

Szer <notifications@github.com> schrieb am Sa., 28. Apr. 2018, 09:49:

[2018-04-29 12:48] matthid opened #3174 "Get rid of NUnit"
### Description

Because we use Mono.Cecil and they seem to be unable to fix https://github.com/nunit/nunit3-vs-adapter/issues/366 we should get rid of it and use something that works.

[2018-04-29 13:29] haf commented on #3174
Expecto? ;)

[2018-04-29 13:30] haf opened #3177 "FYI: TLS exception on newer mono in paket"
https://github.com/NuGet/NuGetGallery/issues/5857
https://travis-ci.org/SuaveIO/suave/jobs/372679465#L1714

[code]

Close this issue if it's not related to paket (which it does not seem to be).

[2018-04-29 14:06] matthid commented on #3174
Personally I'd accept any PR that switches to something that works and ideally allows me to debug single tests in visual studio. Last word is on @forki however. With Nunit we already have two hacks in place and it still doesn't work :/

[2018-04-29 14:07] matthid commented on #3177
This is a long known mono bug and I'm afraid they will never fix it :/.
I'd assume a race condition in Mono.Net.Security introduced some time ago

[2018-04-29 19:00] haf opened #3178 "--include-referenced-projects not working on .net core"
Example invocation:

[code]

Results in:

[code]

Expected `Suave` to be a dependency.

[2018-05-01 10:13] matthid commented on #3167
Problem is we need to be modified if new platforms are added to the ecosystem. Writing to stderr is the correct thing to do in that scenario (and we changed that back and forth multiple times in the past).

Workaround is to change your CI to only consider the exit code and not standard error. If required split `paket restore` from the rest of the build.

[2018-05-01 15:17] scottbommarito commented on #3177
@matthid Can you link to the mono bug or provide some more context?

[2018-05-01 16:08] matthid commented on #3177
@scottbommarito This happened since I believe early mono 5 releases. Context:
 - historically we had bad experience reporting bugs to mono, because they ignore everything without repro
 - This is most likely a race-condition and most likely hard to reproduce in a standalone sample

=> Nobody ever did it.

Our current roadmap is to just get rid of mono and switch to netcore (which is probably easie

[2018-05-01 21:42] matthid commented on #3177
I guess we can close this in favor of our old issues:

   - #2393
   - #3009

[2018-05-01 21:42] #3177 closed

[2018-05-02 07:23] MangelMaxime opened #3180 "Paket version 5.157.0-alpha003 is breaking Fulma repo"
### Description

Since yesterday evening people are reporting me problems with Fulma repo and templates.

Errors are like:

[code]

I suspect this issues will impact any project using `clitool`.

### Repro steps

Please provide the steps required to reproduce the problem

1. `git clone git@github.com:MangelMaxime/Fulma.git`

2. ` ./fake.sh build`

3. The build is failing

### Expected behavior

`d

[2018-05-02 07:25] forki commented on #3180
urgs @matthid

[2018-05-02 07:39] matthid commented on #3180
Oo? Is the paket bootstrapper using prereleases by default?

[2018-05-02 07:44] MangelMaxime commented on #3180
@matthid I don't think.

I have this [paket.exe.config](https://github.com/MangelMaxime/Fulma/blob/master/.paket/paket.exe.config) file in my project:

[code]

I should probably remove it at least from the template indeed but it's useful to detect bugs :)

[2018-05-02 07:48] matthid commented on #3180
Yes I’m glad we found this, but we shouldn’t break people on an alpha release :)

Is this an urgent fix considering the template it out? If yes @forki can you release another alpha from master? I’m not sure I can takle this today or tomorrow...

[2018-05-02 08:16] forki commented on #3180
do we know what broke it? and how to fix?

[2018-05-02 08:32] MangelMaxime commented on #3180
Just for info, I fixed the template and my Fulma repo to use only stable version of paket.

[2018-05-02 09:53] matthid commented on #3180
At least I have no idea but fest step would be to look atthe build output which I cannot run at the moment

[2018-05-02 10:28] forki commented on #3180
so what should I do? people are reporting this on fable gitter? unlisting the prerelease versions?